# Truck transportation industry overview - data cleaning.

I have gathered publicly available historical data about factors impacting trucking industry in the United States which I consider important for business operation and strategy planning. I will focus on data for period 2006-2019.

## GOAL

#### The goal of this notebook is to clean the data and prepare for exploratory data analysis and dashboard creation.<br><br>
#### Steps to acheive the goal look as follows: <br><br>
1.Loading the data.<br>
2.Summarizing and describing the data.
3.Identyfing duplicate values and deleting them.<br>
4.Checking for missing values and deciding on the approach towards them.<br>
5.Transforming the data into desired shape.<br>
6.Validating the data.<br>
7.Exporting the data.<br>

### Tools 
To achieve the goal I have decided to use Python and the libraries listed below. The files are in csv format.

### Note 
I suggest getting familiar with the readme file to obtain more information about the datasets and its sources.

In [58]:
import pandas as pd
import numpy as np
import glob

I will use glob and pandas libraries in order to quickly load 11 datasets.

### Loading the data

In [59]:
path = r'C:\Users\Tymoteusz\Desktop\Truck data US\csvs'
files = glob.glob(path + '\*.csv')

df_list = []

for f in files:
    temporary_df = pd.read_csv(f)
    df_list.append(temporary_df)
    print(temporary_df.head(),temporary_df.describe(),temporary_df.info())

# loading the datasets to the list and displaying summary stats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 39 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  6 non-null      object
 1   1960      6 non-null      object
 2   1965      6 non-null      object
 3   1970      6 non-null      object
 4   1975      6 non-null      object
 5   1980      6 non-null      object
 6   1985      6 non-null      object
 7   1990      6 non-null      float64
 8   1991      6 non-null      float64
 9   1992      6 non-null      float64
 10  1993      6 non-null      float64
 11  1994      6 non-null      float64
 12  1995      6 non-null      float64
 13  1996      6 non-null      float64
 14  1997      6 non-null      float64
 15  1998      6 non-null      float64
 16  1999      6 non-null      float64
 17  2000      6 non-null      float64
 18  2001      6 non-null      float64
 19  2002      6 non-null      float64
 20  2003      6 non-null      object
 21  2004      6 non-null      object
 22  2005      6 non-null      object
 23  2006      6 non-null      object
 24  2007      6 non-null      object
 25  2008      6 non-null      object
 26  2009      6 non-null      object
 27  2010      6 non-null      object
 28  2011      6 non-null      object
 29  2012      6 non-null      float64
 30  2013      6 non-null      float64
 31  2014      6 non-null      float64
 32  2015      6 non-null      float64
 33  2016      6 non-null      float64
 34  2017      6 non-null      float64
 35  2018      6 non-null      float64
 36  2019      6 non-null      object
 37  2020      6 non-null      float64
 38  2021      6 non-null      object
dtypes: float64(21), object(18)
memory usage: 12.3+ KB
                         Category   1960   1965   1970   1975   1980   1985  \
0          Air carrier, domestica  22.80  20.46  21.91  28.22  46.31  48.77
1                          Truckb      N      N      N      N      N   5.34
2                    Class I rail   1.40   1.27   1.43   2.04   2.87   3.04
3  Water Transportation, domestic      N      N      N      N      N      N
4                    Oil pipeline      N      N      N      U      N      N

    1990   1991   1992  ...    2012    2013    2014    2015    2016    2017  \
0  59.71  60.95  63.07  ...  133.51  135.47  135.85  124.04  119.90  125.15
1   7.64   7.54   7.75  ...   16.72   15.99   17.68   17.75   17.34   16.10
2   2.66   2.59   2.58  ...    3.95    4.05    4.05    3.97    3.99    4.02
3   1.42   1.41   1.39  ...    3.18    3.36    3.37    3.25    3.00    2.74
4   1.22   1.18   1.21  ...    1.63    1.92    2.26    2.49    2.66    2.88

     2018       2019    2020   2021
0  137.49     137.67  122.98  97.86
1   17.55  (R) 17.84   17.88      U
2    4.23       4.42    4.40      U
3    2.88       3.22    2.94      U
4    3.11       3.41    3.44      U

[5 rows x 39 columns]              1990        1991        1992        1993        1994        1995  \
count    6.000000    6.000000    6.000000    6.000000    6.000000    6.000000
mean    28.775000   29.278333   29.833333   30.691667   30.800000   31.331667
std     41.632272   42.526504   43.166592   44.182787   44.089929   44.547132
min      1.220000    1.180000    1.210000    1.170000    1.230000    1.280000
25%      1.730000    1.705000    1.687500    1.650000    1.672500    1.822500
50%      5.150000    5.065000    5.165000    5.500000    5.825000    6.475000
75%     46.692500   47.597500   49.240000   51.335000   51.430000   51.485000
max    100.000000  102.000000  103.000000  105.000000  105.000000  107.000000

             1996        1997        1998        1999  ...        2001  \
count    6.000000    6.000000    6.000000    6.000000  ...    6.000000
mean    32.888333   32.856667   33.975000   34.303333  ...   31.955000
std     46.587456   46.920415   47.920575   48.423544  ...   47.424236
min      1.180000    1.170000    1.110000    1.170000  ...    1.340000
25%      1.757500    1.725000    1.725000    1.755000  ...    1.872500
50%      6.525000    6.185000    6.255000    6.420000  ...    6.500000
75%     56.330000   55.817500   61.575000   61.312500  ...   45.920000
max    110.000000  111.000000  110.000000  112.000000  ...  118.000000

             2002        2012        2013        2014        2015        2016  \
count    6.000000    6.000000    6.000000    6.000000    6.000000    6.000000
mean    30.311667   53.665000   54.298333   55.201667   52.416667   51.315000
std     46.348312   74.057082   75.065739   75.817317   71.857450   70.470286
min      1.330000    1.630000    1.920000    2.260000    2.490000    2.660000
25%      1.847500    3.372500    3.532500    3.540000    3.430000    3.247500
50%      6.145000   10.335000   10.020000   10.865000   10.860000   10.665000
75%     39.662500  104.312500  105.600000  106.307500   97.467500   94.260000
max    117.000000  163.000000  165.000000  168.000000  163.000000  161.000000

             2017        2018        2020
count    6.000000    6.000000    6.000000
mean    52.815000   56.043333   53.606667
std     73.175337   76.997702   73.677084
min      2.740000    2.880000    2.940000
25%      3.165000    3.390000    3.680000
50%     10.060000   10.890000   11.140000
75%     97.887500  107.505000   96.705000
max    166.000000  171.000000  170.000000

[8 rows x 21 columns] None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 36 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     10 non-null     object
 1   1998         10 non-null     object
 2   1999         10 non-null     object
 3   2000         10 non-null     object
 4   2001         10 non-null     object
 5   2002         10 non-null     object
 6   2003         10 non-null     object
 7   2004         10 non-null     object
 8   2005         10 non-null     object
 9   2006         10 non-null     object
 10  2007         10 non-null     object
 11  2008         10 non-null     object
 12  2009         10 non-null     object
 13  2010         10 non-null     object
 14  2011         10 non-null     object
 15  2012         10 non-null     object
 16  2013         10 non-null     object
 17  2014         10 non-null     object
 18  2015         10 non-null     object
 19  2016         10 non-null     object
 20  (R) 2017     10 non-null     object
 21  (R) 2018     10 non-null     object
 22  (R) 2019     10 non-null     object
 23  (R) 2020     10 non-null     object
 24  2021         10 non-null     object
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
dtypes: float64(11), object(25)
memory usage: 12.8+ KB
                                Category    1998    1999    2000    2001  \
0                         All industries  35,509  37,050  39,231  40,213
1  Transportation and warehousing, total  35,965  37,426  39,055  39,941
2                                    Air  48,919  50,879  53,231  56,129
3                                   Rail  59,766  61,287  63,353  64,100
4                                 Water   48,450  50,407  51,516  55,953

     2002    2003    2004    2005    2006  ... Unnamed: 26 Unnamed: 27  \
0  40,975  42,335  44,263  45,643  47,731  ...         NaN         NaN
1  40,690  41,542  43,324  43,939  45,491  ...         NaN         NaN
2  58,115  57,596  59,026  56,772  59,290  ...         NaN         NaN
3  65,120  68,108  72,097  72,903  75,207  ...         NaN         NaN
4  56,988  58,202  61,774  62,903  66,463  ...         NaN         NaN

  Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32 Unnamed: 33  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 34 Unnamed: 35
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 36 columns]        Unnamed: 25  Unnamed: 26  Unnamed: 27  Unnamed: 28  Unnamed: 29  \
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

       Unnamed: 30  Unnamed: 31  Unnamed: 32  Unnamed: 33  Unnamed: 34  \
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

       Unnamed: 35
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN   None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1493 entries, 0 to 1492
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1493 non-null   object
 1   GASDESW  1493 non-null   float64
dtypes: float64(1), object(1)
memory usage: 23.5+ KB
         DATE  GASDESW
0  1994-03-21    1.106
1  1994-03-28    1.107
2  1994-04-04    1.109
3  1994-04-11    1.108
4  1994-04-18    1.105            GASDESW
count  1493.000000
mean      2.473485
std       1.087736
min       0.953000
25%       1.407000
50%       2.507000
75%       3.186000
max       5.810000 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DATE              226 non-null    object
 1   PCU336120336120P  226 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.7+ KB
         DATE  PCU336120336120P
0  2003-12-01             100.0
1  2004-01-01             101.3
2  2004-02-01             101.4
3  2004-03-01             101.5
4  2004-04-01             101.6        PCU336120336120P
count        226.000000
mean         134.363779
std           17.044958
min          100.000000
25%          119.375000
50%          136.850000
75%          149.575000
max          159.403000 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       226 non-null    object
 1   PCU484484  226 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.7+ KB
         DATE  PCU484484
0  2003-12-01      100.0
1  2004-01-01      100.4
2  2004-02-01      101.1
3  2004-03-01      101.3
4  2004-04-01      101.6         PCU484484
count  226.000000
mean   131.701226
std     20.092447
min    100.000000
25%    117.600000
50%    131.350000
75%    138.500000
max    203.759000 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 39 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  13 non-null     object
 1   1960      13 non-null     object
 2   1965      13 non-null     object
 3   1970      13 non-null     object
 4   1975      13 non-null     object
 5   1980      13 non-null     object
 6   1985      13 non-null     object
 7   1990      13 non-null     object
 8   1991      13 non-null     object
 9   1992      13 non-null     object
 10  1993      13 non-null     object
 11  1994      13 non-null     object
 12  1995      13 non-null     object
 13  1996      13 non-null     object
 14  1997      13 non-null     object
 15  1998      13 non-null     object
 16  1999      13 non-null     object
 17  2000      13 non-null     object
 18  2001      13 non-null     object
 19  2002      13 non-null     object
 20  2003      13 non-null     object
 21  2004      13 non-null     object
 22  2005      13 non-null     object
 23  2006      13 non-null     object
 24  2007      13 non-null     object
 25  2008      13 non-null     object
 26  2009      13 non-null     object
 27  2010      13 non-null     object
 28  2011      13 non-null     object
 29  2012      13 non-null     object
 30  2013      13 non-null     object
 31  2014      13 non-null     object
 32  2015      13 non-null     object
 33  2016      13 non-null     object
 34  2017      13 non-null     object
 35  2018      13 non-null     object
 36  2019      13 non-null     object
 37  2020      13 non-null     object
 38  2021      13 non-null     object
dtypes: object(39)
memory usage: 16.9+ KB
                              Category   1960    1965    1970    1975    1980  \
0  Air carrier, domestic, all services  2,178   3,691   7,180  12,020  26,440
1                            Truckinga      N       N       N       N       N
2             Interurban and rural bus      U       U       U       U       U
3                             Transitb  1,407   1,444   1,707   3,451   6,510
4                         Class I rail  9,514  10,208  11,992  16,402  28,258

     1985     1990     1991     1992  ...     2012     2013     2014     2015  \
0  37,629   58,092   56,481   58,133  ...  135,879  139,184  145,938  147,025
1       N  127,314  126,772  135,437  ...  307,365  320,439  345,965  352,576
2       U        U        U        U  ...    1,151    1,271    1,391    1,463
3  12,195   16,053   16,949   17,044  ...   42,850   44,271   46,393   46,416
4  27,586   28,370   27,845   28,349  ...   69,887   72,873   77,659   71,709

      2016     2017         2018         2019     2020 2021
0  151,195  160,640  (R) 171,729  (R) 179,392   92,806    U
1  357,314  380,940  (R) 410,925  (R) 422,481  433,998    U
2    1,595    1,730        1,718    (R) 1,708      992    U
3   48,699   50,094       51,764       54,360   54,236    U
4   65,762   69,998       76,177       74,300   66,049    U

[5 rows x 39 columns]                                    Category 1960 1965 1970 1975 1980 1985  \
count                                    13   13   13   13   13   13   13
unique                                   13    7    7    7   11   11   11
top     Air carrier, domestic, all services    N    N    N    U    U    U
freq                                      1    5    5    5    3    3    3

          1990 1991 1992  ...     2012     2013     2014     2015     2016  \
count       13   13   13  ...       13       13       13       13       13
unique      13   11   11  ...       13       13       13       13       13
top     58,092    U    U  ...  135,879  139,184  145,938  147,025  151,195
freq         1    3    3  ...        1        1        1        1        1

           2017         2018         2019    2020 2021
count        13           13           13      13   13
unique       13           13           13      13    2
top     160,640  (R) 171,729  (R) 179,392  92,806    U
freq          1            1            1       1   12

[4 rows x 39 columns] None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     70 non-null     object
 1   VAPGDPT  70 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB
        DATE  VAPGDPT
0   1/1/2005      2.8
1   4/1/2005      2.9
2   7/1/2005      2.9
3  10/1/2005      3.0
4   1/1/2006      3.0          VAPGDPT
count  70.000000
mean    2.970000
std     0.135508
min     2.600000
25%     2.900000
50%     2.950000
75%     3.100000
max     3.200000 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  8 non-null      object
 1   1995      8 non-null      int64
 2   1996      8 non-null      int64
 3   1997      8 non-null      int64
 4   1998      8 non-null      int64
 5   1999      8 non-null      int64
 6   2000      8 non-null      int64
 7   2001      8 non-null      int64
 8   2002      8 non-null      int64
 9   2003      8 non-null      int64
 10  2004      8 non-null      int64
 11  2005      8 non-null      int64
 12  2006      8 non-null      int64
 13  2007      8 non-null      int64
 14  2008      8 non-null      int64
 15  2009      8 non-null      int64
 16  2010      8 non-null      int64
 17  2011      8 non-null      int64
 18  2012      8 non-null      int64
 19  2013      8 non-null      object
 20  2014      8 non-null      object
 21  2015      8 non-null      object
 22  2016      8 non-null      object
 23  2017      8 non-null      object
 24  2018      8 non-null      object
 25  2019      8 non-null      object
dtypes: int64(18), object(8)
memory usage: 1.8+ KB
          Category      1995      1996      1997      1998      1999  \
0     Total trucks  64778472  75940206  77307408  79062475  83147802
1          Pickups  28200171  37249308  36980204  36203370  37667859
2             Vans  11557118  14360215  15593198  17022370  16543699
3  Sport utilities   7440984  15591184  15623803  16002524  19010315
4     Other lighta   9590256    681164    809729    854853    881677

       2000      2001      2002      2003  ...       2010       2011  \
0  87107628  92045311  92938585  94943551  ...  110322256  118455587
1  38216835  39409967  38745312  38482613  ...   40980641   40850084
2  17250102  18222321  18063075  18028775  ...   17549297   47070170
3  21466592  24297697  25967542  28291752  ...   43732613   17202408
4    863298   1018610   1007970    997606  ...     439770     448617

        2012       2013       2014       2015       2016       2017  \
0  133130032  132931240  137531011  141256148  146182276  151605435
1   45411976   44958268   45678808   46844188   46941851   47864139
2   20183007   18394510   17415020   16917823   16577778   16222359
3   55036982   57090992   61501944   64703676   69112824   73581210
4     214983      78790      84837      86862      83218      81238

        2018       2019
0  152701631  158352117
1   47130838   48320784
2   15389921   15075377
3   75758440   80511102
4      77399      75515

[5 rows x 26 columns]                1995          1996          1997          1998          1999  \
count  8.000000e+00  8.000000e+00  8.000000e+00  8.000000e+00  8.000000e+00
mean   1.619462e+07  1.898505e+07  1.932685e+07  1.976562e+07  2.078695e+07
std    2.138971e+07  2.604643e+07  2.638639e+07  2.677806e+07  2.815517e+07
min    1.335465e+06  6.811640e+05  8.097290e+05  8.548530e+05  8.816770e+05
25%    4.071487e+06  1.763876e+06  1.800708e+06  1.823456e+06  1.803896e+06
50%    8.515620e+06  9.558648e+06  1.025752e+07  1.077512e+07  1.108014e+07
75%    1.571788e+07  2.100572e+07  2.096290e+07  2.181762e+07  2.367470e+07

[5 rows x 42 columns]                               Categories       1980       1981       1982  \
count                                 12         12         12         12
unique                                12         12         12         12
top     TOTAL U.S. ton-miles of freight   4,207,610  4,230,548  4,122,111
freq                                   1          1          1          1

             1983       1984       1985       1986       1987       1988  ...  \
count          12         12         12         12         12         12  ...
unique         12         12         12         12         12         12  ...
top     4,013,105  4,317,065  4,342,117  4,360,857  4,409,101  4,414,966  ...
freq            1          1          1          1          1          1  ...

         (R) 2011   (R) 2012   (R) 2013   (R) 2014   (R) 2015   (R) 2016  \
count          12         12         12         12         12         12
unique         12         12         12         12         12         12
top     4,909,454  4,895,313  5,041,501  5,180,010  5,110,527  5,007,566
freq            1          1          1          1          1          1

             2017       2018   (R) 2019   (R) 2020
count          12         12         12         12
unique         12         12         12         12
top     5,427,868  5,511,658  5,420,408  5,250,835
freq            1          1          1          1

[4 rows x 42 columns] None

I have decided to display some descriptive and summary statistics about columns of each dataset in order to get more insights about the values. The statistics are helpful in determining the data types and show us inconsistencies in the data types among the columns which might be due to missing or incorrectly entered values.

As we can see some of the datasets have the "Year" values entered as separate columns while the others have it stored in single column. We will have to address this inconsistency later. We can also notice a lot of missing values in some of the datasets. Some of them exist, due to the way the datasets were converted before loading.

I will create functions to automate some of the data cleaning tasks.

### Checking for duplicates

In [60]:
def duplicate_rows(df):
    print(df[df.duplicated()])
# The function prints dataframe of duplicated rows in provided dataframe

In [61]:
def execute_function(list_df,func,func_desc):
    print(func_desc)
    for i in range(len(list_df)):
        func(list_df[i])
        print(list_df[i].head())
        
execute_function(df_list,duplicate_rows,'Duplicate rows')
# Loops through the list and applies provided function to the dataframes, takes list of dfs, function to execute on them and a descriptive value as a string to be displayed at first.

Duplicate rows
   Category 1960 1965 1970 1975 1980 1985  1990  1991  1992  ...  2012  2013  \
7       NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
8       NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
9       NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
10      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
11      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
12      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
13      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
14      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
15      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
16      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
17      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
18      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
19      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
20      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
21      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
22      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
23      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
24      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
25      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
26      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
27      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
28      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
29      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
30      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
31      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
32      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
33      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
34      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
35      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
36      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
37      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
38      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
39      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN

    2014  2015  2016  2017  2018  2019  2020  2021
7    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
29   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
30   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
31   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
32   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
33   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
34   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
35   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
36   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
37   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
38   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
39   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[33 rows x 39 columns]
                         Category   1960   1965   1970   1975   1980   1985  \
0          Air carrier, domestica  22.80  20.46  21.91  28.22  46.31  48.77
1                          Truckb      N      N      N      N      N   5.34
2                    Class I rail   1.40   1.27   1.43   2.04   2.87   3.04
3  Water Transportation, domestic      N      N      N      N      N      N
4                    Oil pipeline      N      N      N      U      N      N

    1990   1991   1992  ...    2012    2013    2014    2015    2016    2017  \
0  59.71  60.95  63.07  ...  133.51  135.47  135.85  124.04  119.90  125.15
1   7.64   7.54   7.75  ...   16.72   15.99   17.68   17.75   17.34   16.10
2   2.66   2.59   2.58  ...    3.95    4.05    4.05    3.97    3.99    4.02
3   1.42   1.41   1.39  ...    3.18    3.36    3.37    3.25    3.00    2.74
4   1.22   1.18   1.21  ...    1.63    1.92    2.26    2.49    2.66    2.88

     2018       2019    2020   2021
0  137.49     137.67  122.98  97.86
1   17.55  (R) 17.84   17.88      U
2    4.23       4.42    4.40      U
3    2.88       3.22    2.94      U
4    3.11       3.41    3.44      U

[5 rows x 39 columns]
   Category 1998 1999 2000 2001 2002 2003 2004 2005 2006  ... Unnamed: 26  \
11      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
12      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
13      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
14      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
15      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
16      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
17      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
18      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
19      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
20      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
21      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
22      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
23      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
24      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
25      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
26      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
27      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
28      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
29      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
30      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
31      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
32      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
33      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
34      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
35      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
36      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
37      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
38      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
39      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
40      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
41      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
42      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
43      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN
44      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...         NaN

   Unnamed: 27 Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32  \
11         NaN         NaN         NaN         NaN         NaN         NaN
12         NaN         NaN         NaN         NaN         NaN         NaN
13         NaN         NaN         NaN         NaN         NaN         NaN
14         NaN         NaN         NaN         NaN         NaN         NaN
15         NaN         NaN         NaN         NaN         NaN         NaN
16         NaN         NaN         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN         NaN         NaN
18         NaN         NaN         NaN         NaN         NaN         NaN
19         NaN         NaN         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN         NaN         NaN
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN
26         NaN         NaN         NaN         NaN         NaN         NaN
27         NaN         NaN         NaN         NaN         NaN         NaN
28         NaN         NaN         NaN         NaN         NaN         NaN
29         NaN         NaN         NaN         NaN         NaN         NaN
30         NaN         NaN         NaN         NaN         NaN         NaN
31         NaN         NaN         NaN         NaN         NaN         NaN
32         NaN         NaN         NaN         NaN         NaN         NaN
33         NaN         NaN         NaN         NaN         NaN         NaN
34         NaN         NaN         NaN         NaN         NaN         NaN
35         NaN         NaN         NaN         NaN         NaN         NaN
36         NaN         NaN         NaN         NaN         NaN         NaN
37         NaN         NaN         NaN         NaN         NaN         NaN
38         NaN         NaN         NaN         NaN         NaN         NaN
39         NaN         NaN         NaN         NaN         NaN         NaN
40         NaN         NaN         NaN         NaN         NaN         NaN
41         NaN         NaN         NaN         NaN         NaN         NaN
42         NaN         NaN         NaN         NaN         NaN         NaN
43         NaN         NaN         NaN         NaN         NaN         NaN
44         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 33 Unnamed: 34 Unnamed: 35
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN
28         NaN         NaN         NaN
29         NaN         NaN         NaN
30         NaN         NaN         NaN
31         NaN         NaN         NaN
32         NaN         NaN         NaN
33         NaN         NaN         NaN
34         NaN         NaN         NaN
35         NaN         NaN         NaN
36         NaN         NaN         NaN
37         NaN         NaN         NaN
38         NaN         NaN         NaN
39         NaN         NaN         NaN
40         NaN         NaN         NaN
41         NaN         NaN         NaN
42         NaN         NaN         NaN
43         NaN         NaN         NaN
44         NaN         NaN         NaN

[34 rows x 36 columns]
                                Category    1998    1999    2000    2001  \
0                         All industries  35,509  37,050  39,231  40,213
1  Transportation and warehousing, total  35,965  37,426  39,055  39,941
2                                    Air  48,919  50,879  53,231  56,129
3                                   Rail  59,766  61,287  63,353  64,100
4                                 Water   48,450  50,407  51,516  55,953

     2002    2003    2004    2005    2006  ... Unnamed: 26 Unnamed: 27  \
0  40,975  42,335  44,263  45,643  47,731  ...         NaN         NaN
1  40,690  41,542  43,324  43,939  45,491  ...         NaN         NaN
2  58,115  57,596  59,026  56,772  59,290  ...         NaN         NaN
3  65,120  68,108  72,097  72,903  75,207  ...         NaN         NaN
4  56,988  58,202  61,774  62,903  66,463  ...         NaN         NaN

  Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32 Unnamed: 33  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 34 Unnamed: 35
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 36 columns]
Empty DataFrame
Columns: [DATE, GASDESW]
Index: []
         DATE  GASDESW
0  1994-03-21    1.106
1  1994-03-28    1.107
2  1994-04-04    1.109
3  1994-04-11    1.108
4  1994-04-18    1.105
Empty DataFrame
Columns: [DATE, PCU336120336120P]
Index: []
         DATE  PCU336120336120P
0  2003-12-01             100.0
1  2004-01-01             101.3
2  2004-02-01             101.4
3  2004-03-01             101.5
4  2004-04-01             101.6
Empty DataFrame
Columns: [DATE, PCU484484]
Index: []
         DATE  PCU484484
0  2003-12-01      100.0
1  2004-01-01      100.4
2  2004-02-01      101.1
3  2004-03-01      101.3
4  2004-04-01      101.6
   Category 1960 1965 1970 1975 1980 1985 1990 1991 1992  ... 2012 2013 2014  \
14      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
15      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
16      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
17      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
18      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
19      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
20      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
21      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
22      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
23      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
24      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
25      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
26      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
27      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
28      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
29      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
30      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
31      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
32      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
33      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
34      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
35      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
36      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
37      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
38      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
39      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
40      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
41      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
42      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
43      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
44      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
45      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
46      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
47      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
48      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
49      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
50      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
51      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
52      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
53      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
54      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN

   2015 2016 2017 2018 2019 2020 2021
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17  NaN  NaN  NaN  NaN  NaN  NaN  NaN
18  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21  NaN  NaN  NaN  NaN  NaN  NaN  NaN
22  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23  NaN  NaN  NaN  NaN  NaN  NaN  NaN
24  NaN  NaN  NaN  NaN  NaN  NaN  NaN
25  NaN  NaN  NaN  NaN  NaN  NaN  NaN
26  NaN  NaN  NaN  NaN  NaN  NaN  NaN
27  NaN  NaN  NaN  NaN  NaN  NaN  NaN
28  NaN  NaN  NaN  NaN  NaN  NaN  NaN
29  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  NaN  NaN  NaN  NaN  NaN  NaN  NaN
31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
32  NaN  NaN  NaN  NaN  NaN  NaN  NaN
33  NaN  NaN  NaN  NaN  NaN  NaN  NaN
34  NaN  NaN  NaN  NaN  NaN  NaN  NaN
35  NaN  NaN  NaN  NaN  NaN  NaN  NaN
36  NaN  NaN  NaN  NaN  NaN  NaN  NaN
37  NaN  NaN  NaN  NaN  NaN  NaN  NaN
38  NaN  NaN  NaN  NaN  NaN  NaN  NaN
39  NaN  NaN  NaN  NaN  NaN  NaN  NaN
40  NaN  NaN  NaN  NaN  NaN  NaN  NaN
41  NaN  NaN  NaN  NaN  NaN  NaN  NaN
42  NaN  NaN  NaN  NaN  NaN  NaN  NaN
43  NaN  NaN  NaN  NaN  NaN  NaN  NaN
44  NaN  NaN  NaN  NaN  NaN  NaN  NaN
45  NaN  NaN  NaN  NaN  NaN  NaN  NaN
46  NaN  NaN  NaN  NaN  NaN  NaN  NaN
47  NaN  NaN  NaN  NaN  NaN  NaN  NaN
48  NaN  NaN  NaN  NaN  NaN  NaN  NaN
49  NaN  NaN  NaN  NaN  NaN  NaN  NaN
50  NaN  NaN  NaN  NaN  NaN  NaN  NaN
51  NaN  NaN  NaN  NaN  NaN  NaN  NaN
52  NaN  NaN  NaN  NaN  NaN  NaN  NaN
53  NaN  NaN  NaN  NaN  NaN  NaN  NaN
54  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[41 rows x 39 columns]
                              Category   1960    1965    1970    1975    1980  \
0  Air carrier, domestic, all services  2,178   3,691   7,180  12,020  26,440
1                            Truckinga      N       N       N       N       N
2             Interurban and rural bus      U       U       U       U       U
3                             Transitb  1,407   1,444   1,707   3,451   6,510
4                         Class I rail  9,514  10,208  11,992  16,402  28,258

     1985     1990     1991     1992  ...     2012     2013     2014     2015  \
0  37,629   58,092   56,481   58,133  ...  135,879  139,184  145,938  147,025
1       N  127,314  126,772  135,437  ...  307,365  320,439  345,965  352,576
2       U        U        U        U  ...    1,151    1,271    1,391    1,463

After checking for duplicate rows in the dataframes I have noticed that the only rows which are duplicated are rows containing NaN values. We will get rid of them in the step where we handle missing values.

### Handling missing values and transformation

Before applying the functions we need to transform some of the values containing strings into NaN. <br><br> In all of the datasets missing values were denoted as 'S', 'N' and 'U', based on the reason behind the missingness of given value. The NaN values are mostly empty cells from excel which remained in the table after conversion to the csv file.<br> <br>More information about the original datasets can be found in the sources provided in the Readme file.<br><br> We need to make sure that we include only columns which should contain numeric values. Considering the reasons behind the missingness of the data we can safely delete missing values and we do not risk missing valuable information.

In [62]:
def missing_to_nan(df):
    df.replace(['N','S','U'],np.nan,inplace=True)
    print(df[df.isna().any(axis=1)])
    
    # function converts missing values encoded as N, S or U to np.nan.

In [63]:
def count_missing(df):
    a = 0
    for col in df.columns:
        
        a += df[col].astype(str).str.contains('U').sum()
        a += df[col].astype(str).str.contains('N').sum()
        a += df[col].astype(str).str.contains('S').sum()
    print('U,N,S counts')
    print(a)
# function counts the missing values encoded as U, N or S.

In [64]:
execute_function(df_list,count_missing,'Number of missing values')

Number of missing values
U,N,S counts
27
                         Category   1960   1965   1970   1975   1980   1985  \
0          Air carrier, domestica  22.80  20.46  21.91  28.22  46.31  48.77
1                          Truckb      N      N      N      N      N   5.34
2                    Class I rail   1.40   1.27   1.43   2.04   2.87   3.04
3  Water Transportation, domestic      N      N      N      N      N      N
4                    Oil pipeline      N      N      N      U      N      N

    1990   1991   1992  ...    2012    2013    2014    2015    2016    2017  \
0  59.71  60.95  63.07  ...  133.51  135.47  135.85  124.04  119.90  125.15
1   7.64   7.54   7.75  ...   16.72   15.99   17.68   17.75   17.34   16.10
2   2.66   2.59   2.58  ...    3.95    4.05    4.05    3.97    3.99    4.02
3   1.42   1.41   1.39  ...    3.18    3.36    3.37    3.25    3.00    2.74
4   1.22   1.18   1.21  ...    1.63    1.92    2.26    2.49    2.66    2.88

     2018       2019    2020   2021
0  137.49     137.67  122.98  97.86
1   17.55  (R) 17.84   17.88      U
2    4.23       4.42    4.40      U
3    2.88       3.22    2.94      U
4    3.11       3.41    3.44      U

[5 rows x 39 columns]
U,N,S counts
0
                                Category    1998    1999    2000    2001  \
0                         All industries  35,509  37,050  39,231  40,213
1  Transportation and warehousing, total  35,965  37,426  39,055  39,941
2                                    Air  48,919  50,879  53,231  56,129
3                                   Rail  59,766  61,287  63,353  64,100
4                                 Water   48,450  50,407  51,516  55,953

     2002    2003    2004    2005    2006  ... Unnamed: 26 Unnamed: 27  \
0  40,975  42,335  44,263  45,643  47,731  ...         NaN         NaN
1  40,690  41,542  43,324  43,939  45,491  ...         NaN         NaN
2  58,115  57,596  59,026  56,772  59,290  ...         NaN         NaN
3  65,120  68,108  72,097  72,903  75,207  ...         NaN         NaN
4  56,988  58,202  61,774  62,903  66,463  ...         NaN         NaN

  Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32 Unnamed: 33  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 34 Unnamed: 35
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 36 columns]
U,N,S counts
0
         DATE  GASDESW
0  1994-03-21    1.106
1  1994-03-28    1.107
2  1994-04-04    1.109
3  1994-04-11    1.108
4  1994-04-18    1.105
U,N,S counts
0
         DATE  PCU336120336120P
0  2003-12-01             100.0
1  2004-01-01             101.3
2  2004-02-01             101.4
3  2004-03-01             101.5
4  2004-04-01             101.6
U,N,S counts
0
         DATE  PCU484484
0  2003-12-01      100.0
1  2004-01-01      100.4
2  2004-02-01      101.1
3  2004-03-01      101.3
4  2004-04-01      101.6
U,N,S counts
81
                              Category   1960    1965    1970    1975    1980  \
0  Air carrier, domestic, all services  2,178   3,691   7,180  12,020  26,440
1                            Truckinga      N       N       N       N       N
2             Interurban and rural bus      U       U       U       U       U
3                             Transitb  1,407   1,444   1,707   3,451   6,510
4                         Class I rail  9,514  10,208  11,992  16,402  28,258

     1985     1990     1991     1992  ...     2012     2013     2014     2015  \
0  37,629   58,092   56,481   58,133  ...  135,879  139,184  145,938  147,025
1       N  127,314  126,772  135,437  ...  307,365  320,439  345,965  352,576
2       U        U        U        U  ...    1,151    1,271    1,391    1,463
3  12,195   16,053   16,949   17,044  ...   42,850   44,271   46,393   46,416
4  27,586   28,370   27,845   28,349  ...   69,887   72,873   77,659   71,709

      2016     2017         2018         2019     2020 2021
0  151,195  160,640  (R) 171,729  (R) 179,392   92,806    U
1  357,314  380,940  (R) 410,925  (R) 422,481  433,998    U
2    1,595    1,730        1,718    (R) 1,708      992    U
3   48,699   50,094       51,764       54,360   54,236    U
4   65,762   69,998       76,177       74,300   66,049    U

[5 rows x 39 columns]
U,N,S counts
0
        DATE  VAPGDPT
0   1/1/2005      2.8
1   4/1/2005      2.9
2   7/1/2005      2.9
3  10/1/2005      3.0
4   1/1/2006      3.0
U,N,S counts
8
          Category      1995      1996      1997      1998      1999  \
0     Total trucks  64778472  75940206  77307408  79062475  83147802
1          Pickups  28200171  37249308  36980204  36203370  37667859
2             Vans  11557118  14360215  15593198  17022370  16543699
3  Sport utilities   7440984  15591184  15623803  16002524  19010315
4     Other lighta   9590256    681164    809729    854853    881677

       2000      2001      2002      2003  ...       2010       2011  \
0  87107628  92045311  92938585  94943551  ...  110322256  118455587
1  38216835  39409967  38745312  38482613  ...   40980641   40850084
2  17250102  18222321  18063075  18028775  ...   17549297   47070170
3  21466592  24297697  25967542  28291752  ...   43732613   17202408
4    863298   1018610   1007970    997606  ...     439770     448617

        2012       2013       2014       2015       2016       2017  \
0  133130032  132931240  137531011  141256148  146182276  151605435
1   45411976   44958268   45678808   46844188   46941851   47864139
2   20183007   18394510   17415020   16917823   16577778   16222359
3   55036982   57090992   61501944   64703676   69112824   73581210
4     214983      78790      84837      86862      83218      81238

        2018       2019
0  152701631  158352117
1   47130838   48320784
2   15389921   15075377
3   75758440   80511102
4      77399      75515

[5 rows x 26 columns]
U,N,S counts
4
                                      Category     1980     1985     1990  \
0                               TOTAL U.S. GDP  2,788.1  4,217.5  5,800.5
1  For-hire transportation services GDP, total    102.6    137.1    172.8
2                           Air transportation     13.1     19.3     31.3
3                          Rail transportation     20.2     21.0     18.6
4                         Water transportation      3.5      4.0      5.1

      1995     1996     1997     1998     1999      2000  ...      2012  \
0  7,414.7  7,838.5  8,577.6  9,062.8  9,631.2  10,251.0  ...  16,254.0
1    231.7    241.3    257.3    280.0    290.1     307.8  ...     473.3
2     46.2     46.9     54.7     55.2     57.7      58.1  ...      88.1
3     21.1     20.9     20.0     22.2     22.6      23.3  ...      39.7
4      6.3      6.6      6.6      6.5      6.6       8.0  ...      13.2

       2013      2014      2015      2016      2017      2018      2019  \
0  16,843.2  17,550.7  18,206.0  18,695.1  19,479.6  20,527.2  21,372.6
1     492.1     522.5     566.1     582.4     609.4     648.1     685.7
2      94.2     103.0     117.7     129.2     134.8     136.1     146.3
3      41.0      43.9      44.3      40.1      41.3      43.7      42.4
4      16.5      16.2      15.8      13.5      13.0      14.2      14.4

       2020      2021
0  20,893.7  22,996.1
1     572.0     642.6
2      57.9      66.8
3      37.6      38.1
4       9.6      11.0

[5 rows x 31 columns]
U,N,S counts
6
               Category                  Value Unnamed: 2        Tons  \
0  Transportation mode   (billions of dollars)    Percent  (millions)
1       TOTAL all modes                1,680.2      100.0     2,968.0
2   Single modes, total                1,612.1       95.9     2,889.5
3                Trucka                 1091.3       64.9      1814.8
4              For-hire                  567.6       33.8       932.7

  Unnamed: 4   Ton-miles Unnamed: 6 Average miles per shipment
0    Percent  (billions)    Percent                        NaN
1      100.0       382.5      100.0                        189
2       97.4       307.2       80.3                         72
3       61.1       126.8       33.2                         63
4       31.4        92.1       24.1                        153
U,N,S counts
2
                         Categories       1980       1981       1982  \
0  TOTAL U.S. ton-miles of freight   4,207,610  4,230,548  4,122,111
1                              Aira      4,173      4,408      4,247
2                             Truck  1,301,607  1,367,507  1,412,612
3                         Railroadb    932,000    924,000    810,000
4        Total water transportation  1,016,085  1,023,637    964,897

        1983       1984       1985       1986       1987       1988  ...  \
0  4,013,105  4,317,065  4,342,117  4,360,857  4,409,101  4,414,966  ...
1      4,779      5,175      4,855      6,230      7,583      8,169  ...
2  1,256,800  1,511,730  1,562,864  1,559,819  1,507,950  1,419,920  ...
3    841,000    900,091    876,209    891,235    951,940  1,025,683  ...
4    989,162    966,478    964,911    944,911    968,404    970,685  ...

    (R) 2011   (R) 2012   (R) 2013   (R) 2014   (R) 2015   (R) 2016  \
0  4,909,454  4,895,313  5,041,501  5,180,010  5,110,527  5,007,566
1     12,134     12,367     12,428     12,845     13,190     13,758
2  1,650,557  1,838,648  2,004,478  1,956,831  1,985,960  2,060,878
3  1,729,256  1,712,567  1,740,687  1,851,229  1,738,283  1,585,440
4    603,983    577,114    564,648    608,918    589,632    580,954

        2017       2018   (R) 2019   (R) 2020
0  5,427,868  5,511,658  5,420,408  5,250,835
1     15,140     15,969     16,413     18,746
2  2,366,049  2,341,705  2,367,988  2,426,766
3  1,674,784  1,729,638  1,614,498  1,439,814
4    600,910    608,756    565,153    539,470

[5 rows x 42 columns]

In [65]:
def display_nan(df):
    print(df[df.isna().any(axis=1)])
    print(df)
    # This function displays NaN values in the provided df

In [66]:
execute_function(df_list,display_nan,'Missing values')

Missing values
   Category 1960 1965 1970 1975 1980 1985  1990  1991  1992  ...  2012  2013  \
6       NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
7       NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
8       NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
9       NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
10      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
11      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
12      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
13      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
14      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
15      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
16      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
17      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
18      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
19      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
20      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
21      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
22      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
23      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
24      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
25      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
26      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
27      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
28      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
29      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
30      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
31      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
32      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
33      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
34      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
35      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
36      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
37      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
38      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN
39      NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN  ...   NaN   NaN

    2014  2015  2016  2017  2018  2019  2020  2021
6    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
29   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
30   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
31   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
32   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
33   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
34   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
35   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
36   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
37   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
38   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
39   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[34 rows x 39 columns]
                              Category   1960   1965   1970   1975   1980  \
0               Air carrier, domestica  22.80  20.46  21.91  28.22  46.31
1                               Truckb      N      N      N      N      N
2                         Class I rail   1.40   1.27   1.43   2.04   2.87
3       Water Transportation, domestic      N      N      N      N      N
4                         Oil pipeline      N      N      N      U      N
5   Producer Price Index (1990 = 100)c     28     29     33     49     74
6                                  NaN    NaN    NaN    NaN    NaN    NaN
7                                  NaN    NaN    NaN    NaN    NaN    NaN
8                                  NaN    NaN    NaN    NaN    NaN    NaN
9                                  NaN    NaN    NaN    NaN    NaN    NaN
10                                 NaN    NaN    NaN    NaN    NaN    NaN
11                                 NaN    NaN    NaN    NaN    NaN    NaN
12                                 NaN    NaN    NaN    NaN    NaN    NaN
13                                 NaN    NaN    NaN    NaN    NaN    NaN
14                                 NaN    NaN    NaN    NaN    NaN    NaN
15                                 NaN    NaN    NaN    NaN    NaN    NaN
16                                 NaN    NaN    NaN    NaN    NaN    NaN
17                                 NaN    NaN    NaN    NaN    NaN    NaN
18                                 NaN    NaN    NaN    NaN    NaN    NaN
19                                 NaN    NaN    NaN    NaN    NaN    NaN
20                                 NaN    NaN    NaN    NaN    NaN    NaN
21                                 NaN    NaN    NaN    NaN    NaN    NaN
22                                 NaN    NaN    NaN    NaN    NaN    NaN
23                                 NaN    NaN    NaN    NaN    NaN    NaN
24                                 NaN    NaN    NaN    NaN    NaN    NaN
25                                 NaN    NaN    NaN    NaN    NaN    NaN
26                                 NaN    NaN    NaN    NaN    NaN    NaN
27                                 NaN    NaN    NaN    NaN    NaN    NaN
28                                 NaN    NaN    NaN    NaN    NaN    NaN
29                                 NaN    NaN    NaN    NaN    NaN    NaN
30                                 NaN    NaN    NaN    NaN    NaN    NaN
31                                 NaN    NaN    NaN    NaN    NaN    NaN
32                                 NaN    NaN    NaN    NaN    NaN    NaN
33                                 NaN    NaN    NaN    NaN    NaN    NaN
34                                 NaN    NaN    NaN    NaN    NaN    NaN
35                                 NaN    NaN    NaN    NaN    NaN    NaN
36                                 NaN    NaN    NaN    NaN    NaN    NaN
37                                 NaN    NaN    NaN    NaN    NaN    NaN
38                                 NaN    NaN    NaN    NaN    NaN    NaN
39                                 NaN    NaN    NaN    NaN    NaN    NaN

     1985    1990    1991    1992  ...    2012    2013    2014    2015  \
0   48.77   59.71   60.95   63.07  ...  133.51  135.47  135.85  124.04
1    5.34    7.64    7.54    7.75  ...   16.72   15.99   17.68   17.75
2    3.04    2.66    2.59    2.58  ...    3.95    4.05    4.05    3.97
3       N    1.42    1.41    1.39  ...    3.18    3.36    3.37    3.25
4       N    1.22    1.18    1.21  ...    1.63    1.92    2.26    2.49
5      88  100.00  102.00  103.00  ...  163.00  165.00  168.00  163.00
6     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
7     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
8     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
9     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
10    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
11    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
12    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
13    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
14    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
15    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
16    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
17    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
18    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
19    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
20    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
21    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
22    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
23    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
24    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
25    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
26    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
27    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
28    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
29    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
30    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
31    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
32    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
33    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
34    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
35    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
36    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
37    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
38    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
39    NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

      2016    2017    2018       2019    2020   2021
0   119.90  125.15  137.49     137.67  122.98  97.86
1    17.34   16.10   17.55  (R) 17.84   17.88      U
2     3.99    4.02    4.23       4.42    4.40      U
3     3.00    2.74    2.88       3.22    2.94      U
4     2.66    2.88    3.11       3.41    3.44      U
5   161.00  166.00  171.00        173  170.00    185
6      NaN     NaN     NaN        NaN     NaN    NaN
7      NaN     NaN     NaN        NaN     NaN    NaN
8      NaN     NaN     NaN        NaN     NaN    NaN
9      NaN     NaN     NaN        NaN     NaN    NaN
10     NaN     NaN     NaN        NaN     NaN    NaN
11     NaN     NaN     NaN        NaN     NaN    NaN
12     NaN     NaN     NaN        NaN     NaN    NaN
13     NaN     NaN     NaN        NaN     NaN    NaN
14     NaN     NaN     NaN        NaN     NaN    NaN
15     NaN     NaN     NaN        NaN     NaN    NaN
16     NaN     NaN     NaN        NaN     NaN    NaN
17     NaN     NaN     NaN        NaN     NaN    NaN
18     NaN     NaN     NaN        NaN     NaN    NaN
19     NaN     NaN     NaN        NaN     NaN    NaN
20     NaN     NaN     NaN        NaN     NaN    NaN
21     NaN     NaN     NaN        NaN     NaN    NaN
22     NaN     NaN     NaN        NaN     NaN    NaN
23     NaN     NaN     NaN        NaN     NaN    NaN
24     NaN     NaN     NaN        NaN     NaN    NaN
25     NaN     NaN     NaN        NaN     NaN    NaN
26     NaN     NaN     NaN        NaN     NaN    NaN
27     NaN     NaN     NaN        NaN     NaN    NaN
28     NaN     NaN     NaN        NaN     NaN    NaN
29     NaN     NaN     NaN        NaN     NaN    NaN
30     NaN     NaN     NaN        NaN     NaN    NaN
31     NaN     NaN     NaN        NaN     NaN    NaN
32     NaN     NaN     NaN        NaN     NaN    NaN
33     NaN     NaN     NaN        NaN     NaN    NaN
34     NaN     NaN     NaN        NaN     NaN    NaN
35     NaN     NaN     NaN        NaN     NaN    NaN
36     NaN     NaN     NaN        NaN     NaN    NaN
37     NaN     NaN     NaN        NaN     NaN    NaN
38     NaN     NaN     NaN        NaN     NaN    NaN
39     NaN     NaN     NaN        NaN     NaN    NaN

[40 rows x 39 columns]
                         Category   1960   1965   1970   1975   1980   1985  \
0          Air carrier, domestica  22.80  20.46  21.91  28.22  46.31  48.77
1                          Truckb      N      N      N      N      N   5.34
2                    Class I rail   1.40   1.27   1.43   2.04   2.87   3.04
3  Water Transportation, domestic      N      N      N      N      N      N
4                    Oil pipeline      N      N      N      U      N      N

    1990   1991   1992  ...    2012    2013    2014    2015    2016    2017  \
0  59.71  60.95  63.07  ...  133.51  135.47  135.85  124.04  119.90  125.15
1   7.64   7.54   7.75  ...   16.72   15.99   17.68   17.75   17.34   16.10
2   2.66   2.59   2.58  ...    3.95    4.05    4.05    3.97    3.99    4.02
3   1.42   1.41   1.39  ...    3.18    3.36    3.37    3.25    3.00    2.74
4   1.22   1.18   1.21  ...    1.63    1.92    2.26    2.49    2.66    2.88

     2018       2019    2020   2021
0  137.49     137.67  122.98  97.86
1   17.55  (R) 17.84   17.88      U
2    4.23       4.42    4.40      U
3    2.88       3.22    2.94      U
4    3.11       3.41    3.44      U

[5 rows x 39 columns]
                                        Category    1998    1999    2000  \
0                                 All industries  35,509  37,050  39,231
1          Transportation and warehousing, total  35,965  37,426  39,055
2                                            Air  48,919  50,879  53,231
3                                           Rail  59,766  61,287  63,353
4                                         Water   48,450  50,407  51,516
5                                          Truck  33,686  34,864  36,030
6    Transit and ground passenger transportation  21,840  22,801  23,827
7                                      Pipeline   64,305  71,789  96,662
8   Other transportation and support activitiesb  32,605  34,489  35,823
9                        Warehousing and storage  31,317  32,307  33,623
10                                           NaN     NaN     NaN     NaN
11                                           NaN     NaN     NaN     NaN
12                                           NaN     NaN     NaN     NaN
13                                           NaN     NaN     NaN     NaN
14                                           NaN     NaN     NaN     NaN
15                                           NaN     NaN     NaN     NaN
16                                           NaN     NaN     NaN     NaN
17                                           NaN     NaN     NaN     NaN
18                                           NaN     NaN     NaN     NaN
19                                           NaN     NaN     NaN     NaN
20                                           NaN     NaN     NaN     NaN
21                                           NaN     NaN     NaN     NaN
22                                           NaN     NaN     NaN     NaN
23                                           NaN     NaN     NaN     NaN
24                                           NaN     NaN     NaN     NaN
25                                           NaN     NaN     NaN     NaN
26                                           NaN     NaN     NaN     NaN
27                                           NaN     NaN     NaN     NaN
28                                           NaN     NaN     NaN     NaN
29                                           NaN     NaN     NaN     NaN
30                                           NaN     NaN     NaN     NaN
31                                           NaN     NaN     NaN     NaN
32                                           NaN     NaN     NaN     NaN
33                                           NaN     NaN     NaN     NaN
34                                           NaN     NaN     NaN     NaN
35                                           NaN     NaN     NaN     NaN
36                                           NaN     NaN     NaN     NaN
37                                           NaN     NaN     NaN     NaN
38                                           NaN     NaN     NaN     NaN
39                                           NaN     NaN     NaN     NaN
40                                           NaN     NaN     NaN     NaN
41                                           NaN     NaN     NaN     NaN
42                                           NaN     NaN     NaN     NaN
43                                           NaN     NaN     NaN     NaN
44                                           NaN     NaN     NaN     NaN

       2001    2002    2003    2004    2005    2006  ... Unnamed: 26  \
0    40,213  40,975  42,335  44,263  45,643  47,731  ...         NaN
1    39,941  40,690  41,542  43,324  43,939  45,491  ...         NaN
2    56,129  58,115  57,596  59,026  56,772  59,290  ...         NaN
3    64,100  65,120  68,108  72,097  72,903  75,207  ...         NaN
4    55,953  56,988  58,202  61,774  62,903  66,463  ...         NaN
5    36,502  37,315  38,296  40,106  41,481  43,069  ...         NaN
6    24,335  24,764  25,274  26,725  27,123  28,600  ...         NaN
7   100,514  82,058  83,970  89,294  88,952  97,746  ...         NaN
8    36,173  37,672  39,122  41,429  42,518  44,126  ...         NaN
9    34,156  35,164  36,605  37,942  38,861  39,410  ...         NaN
10      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
11      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
12      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
13      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
14      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
15      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
16      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
17      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
18      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
19      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
20      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
21      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
22      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
23      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
24      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
25      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
26      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
27      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
28      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
29      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
30      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
31      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
32      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
33      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
34      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
35      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
36      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
37      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
38      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
39      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
40      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
41      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
42      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
43      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
44      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN

   Unnamed: 27 Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN         NaN
9          NaN         NaN         NaN         NaN         NaN         NaN
10         NaN         NaN         NaN         NaN         NaN         NaN
11         NaN         NaN         NaN         NaN         NaN         NaN
12         NaN         NaN         NaN         NaN         NaN         NaN
13         NaN         NaN         NaN         NaN         NaN         NaN
14         NaN         NaN         NaN         NaN         NaN         NaN
15         NaN         NaN         NaN         NaN         NaN         NaN
16         NaN         NaN         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN         NaN         NaN
18         NaN         NaN         NaN         NaN         NaN         NaN
19         NaN         NaN         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN         NaN         NaN
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN
26         NaN         NaN         NaN         NaN         NaN         NaN
27         NaN         NaN         NaN         NaN         NaN         NaN
28         NaN         NaN         NaN         NaN         NaN         NaN
29         NaN         NaN         NaN         NaN         NaN         NaN
30         NaN         NaN         NaN         NaN         NaN         NaN
31         NaN         NaN         NaN         NaN         NaN         NaN
32         NaN         NaN         NaN         NaN         NaN         NaN
33         NaN         NaN         NaN         NaN         NaN         NaN
34         NaN         NaN         NaN         NaN         NaN         NaN
35         NaN         NaN         NaN         NaN         NaN         NaN
36         NaN         NaN         NaN         NaN         NaN         NaN
37         NaN         NaN         NaN         NaN         NaN         NaN
38         NaN         NaN         NaN         NaN         NaN         NaN
39         NaN         NaN         NaN         NaN         NaN         NaN
40         NaN         NaN         NaN         NaN         NaN         NaN
41         NaN         NaN         NaN         NaN         NaN         NaN
42         NaN         NaN         NaN         NaN         NaN         NaN
43         NaN         NaN         NaN         NaN         NaN         NaN
44         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 33 Unnamed: 34 Unnamed: 35
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN
28         NaN         NaN         NaN
29         NaN         NaN         NaN
30         NaN         NaN         NaN
31         NaN         NaN         NaN
32         NaN         NaN         NaN
33         NaN         NaN         NaN
34         NaN         NaN         NaN
35         NaN         NaN         NaN
36         NaN         NaN         NaN
37         NaN         NaN         NaN
38         NaN         NaN         NaN
39         NaN         NaN         NaN
40         NaN         NaN         NaN
41         NaN         NaN         NaN
42         NaN         NaN         NaN
43         NaN         NaN         NaN
44         NaN         NaN         NaN

[45 rows x 36 columns]
                                        Category    1998    1999    2000  \
0                                 All industries  35,509  37,050  39,231
1          Transportation and warehousing, total  35,965  37,426  39,055
2                                            Air  48,919  50,879  53,231
3                                           Rail  59,766  61,287  63,353
4                                         Water   48,450  50,407  51,516
5                                          Truck  33,686  34,864  36,030
6    Transit and ground passenger transportation  21,840  22,801  23,827
7                                      Pipeline   64,305  71,789  96,662
8   Other transportation and support activitiesb  32,605  34,489  35,823
9                        Warehousing and storage  31,317  32,307  33,623
10                                           NaN     NaN     NaN     NaN
11                                           NaN     NaN     NaN     NaN
12                                           NaN     NaN     NaN     NaN
13                                           NaN     NaN     NaN     NaN
14                                           NaN     NaN     NaN     NaN
15                                           NaN     NaN     NaN     NaN
16                                           NaN     NaN     NaN     NaN
17                                           NaN     NaN     NaN     NaN
18                                           NaN     NaN     NaN     NaN
19                                           NaN     NaN     NaN     NaN
20                                           NaN     NaN     NaN     NaN
21                                           NaN     NaN     NaN     NaN
22                                           NaN     NaN     NaN     NaN
23                                           NaN     NaN     NaN     NaN
24                                           NaN     NaN     NaN     NaN
25                                           NaN     NaN     NaN     NaN
26                                           NaN     NaN     NaN     NaN
27                                           NaN     NaN     NaN     NaN
28                                           NaN     NaN     NaN     NaN
29                                           NaN     NaN     NaN     NaN
30                                           NaN     NaN     NaN     NaN
31                                           NaN     NaN     NaN     NaN
32                                           NaN     NaN     NaN     NaN
33                                           NaN     NaN     NaN     NaN
34                                           NaN     NaN     NaN     NaN
35                                           NaN     NaN     NaN     NaN
36                                           NaN     NaN     NaN     NaN
37                                           NaN     NaN     NaN     NaN
38                                           NaN     NaN     NaN     NaN
39                                           NaN     NaN     NaN     NaN
40                                           NaN     NaN     NaN     NaN
41                                           NaN     NaN     NaN     NaN
42                                           NaN     NaN     NaN     NaN
43                                           NaN     NaN     NaN     NaN
44                                           NaN     NaN     NaN     NaN

       2001    2002    2003    2004    2005    2006  ... Unnamed: 26  \
0    40,213  40,975  42,335  44,263  45,643  47,731  ...         NaN
1    39,941  40,690  41,542  43,324  43,939  45,491  ...         NaN
2    56,129  58,115  57,596  59,026  56,772  59,290  ...         NaN
3    64,100  65,120  68,108  72,097  72,903  75,207  ...         NaN
4    55,953  56,988  58,202  61,774  62,903  66,463  ...         NaN
5    36,502  37,315  38,296  40,106  41,481  43,069  ...         NaN
6    24,335  24,764  25,274  26,725  27,123  28,600  ...         NaN
7   100,514  82,058  83,970  89,294  88,952  97,746  ...         NaN
8    36,173  37,672  39,122  41,429  42,518  44,126  ...         NaN
9    34,156  35,164  36,605  37,942  38,861  39,410  ...         NaN
10      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
11      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
12      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
13      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
14      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
15      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
16      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
17      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
18      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
19      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
20      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
21      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
22      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
23      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
24      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
25      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
26      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
27      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
28      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
29      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
30      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
31      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
32      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
33      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
34      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
35      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
36      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
37      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
38      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
39      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
40      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
41      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
42      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
43      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
44      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN

   Unnamed: 27 Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN

         DATE  PCU484484
0  2003-12-01      100.0
1  2004-01-01      100.4
2  2004-02-01      101.1
3  2004-03-01      101.3
4  2004-04-01      101.6
   Category 1960 1965 1970 1975 1980 1985 1990 1991 1992  ... 2012 2013 2014  \
13      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
14      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
15      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
16      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
17      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
18      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
19      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
20      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
21      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
22      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
23      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
24      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
25      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
26      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
27      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
28      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
29      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
30      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
31      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
32      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
33      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
34      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
35      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
36      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
37      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
38      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
39      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
40      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
41      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
42      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
43      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
44      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
45      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
46      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
47      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
48      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
49      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
50      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
51      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
52      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
53      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
54      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN

   2015 2016 2017 2018 2019 2020 2021
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17  NaN  NaN  NaN  NaN  NaN  NaN  NaN
18  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21  NaN  NaN  NaN  NaN  NaN  NaN  NaN
22  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23  NaN  NaN  NaN  NaN  NaN  NaN  NaN
24  NaN  NaN  NaN  NaN  NaN  NaN  NaN
25  NaN  NaN  NaN  NaN  NaN  NaN  NaN
26  NaN  NaN  NaN  NaN  NaN  NaN  NaN
27  NaN  NaN  NaN  NaN  NaN  NaN  NaN
28  NaN  NaN  NaN  NaN  NaN  NaN  NaN
29  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  NaN  NaN  NaN  NaN  NaN  NaN  NaN
31  NaN  NaN  NaN  NaN  NaN  NaN  NaN
32  NaN  NaN  NaN  NaN  NaN  NaN  NaN
33  NaN  NaN  NaN  NaN  NaN  NaN  NaN
34  NaN  NaN  NaN  NaN  NaN  NaN  NaN
35  NaN  NaN  NaN  NaN  NaN  NaN  NaN
36  NaN  NaN  NaN  NaN  NaN  NaN  NaN
37  NaN  NaN  NaN  NaN  NaN  NaN  NaN
38  NaN  NaN  NaN  NaN  NaN  NaN  NaN
39  NaN  NaN  NaN  NaN  NaN  NaN  NaN
40  NaN  NaN  NaN  NaN  NaN  NaN  NaN
41  NaN  NaN  NaN  NaN  NaN  NaN  NaN
42  NaN  NaN  NaN  NaN  NaN  NaN  NaN
43  NaN  NaN  NaN  NaN  NaN  NaN  NaN
44  NaN  NaN  NaN  NaN  NaN  NaN  NaN
45  NaN  NaN  NaN  NaN  NaN  NaN  NaN
46  NaN  NaN  NaN  NaN  NaN  NaN  NaN
47  NaN  NaN  NaN  NaN  NaN  NaN  NaN
48  NaN  NaN  NaN  NaN  NaN  NaN  NaN
49  NaN  NaN  NaN  NaN  NaN  NaN  NaN
50  NaN  NaN  NaN  NaN  NaN  NaN  NaN
51  NaN  NaN  NaN  NaN  NaN  NaN  NaN
52  NaN  NaN  NaN  NaN  NaN  NaN  NaN
53  NaN  NaN  NaN  NaN  NaN  NaN  NaN
54  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[42 rows x 39 columns]
                               Category   1960    1965    1970    1975  \
0   Air carrier, domestic, all services  2,178   3,691   7,180  12,020
1                             Truckinga      N       N       N       N
2              Interurban and rural bus      U       U       U       U
3                              Transitb  1,407   1,444   1,707   3,451
4                          Class I rail  9,514  10,208  11,992  16,402
5                    Intercity /Amtrakc      N       N       N     253
6      Water transportation (domestic)d      U       U       U       U
7                         Oil pipelinee      U       U       U       U
8       Gas pipeline (investor-owned)f   8,700  11,500  16,400  30,551
9                Transmission companies  3,190   4,088   5,928  11,898
10               Distribution companies      N       N       N   5,938
11                 Integrated companies      N       N       N   6,962
12                Combination companies      N       N       N   5,753
13                                  NaN    NaN     NaN     NaN     NaN
14                                  NaN    NaN     NaN     NaN     NaN
15                                  NaN    NaN     NaN     NaN     NaN
16                                  NaN    NaN     NaN     NaN     NaN
17                                  NaN    NaN     NaN     NaN     NaN
18                                  NaN    NaN     NaN     NaN     NaN
19                                  NaN    NaN     NaN     NaN     NaN
20                                  NaN    NaN     NaN     NaN     NaN
21                                  NaN    NaN     NaN     NaN     NaN
22                                  NaN    NaN     NaN     NaN     NaN
23                                  NaN    NaN     NaN     NaN     NaN
24                                  NaN    NaN     NaN     NaN     NaN
25                                  NaN    NaN     NaN     NaN     NaN
26                                  NaN    NaN     NaN     NaN     NaN
27                                  NaN    NaN     NaN     NaN     NaN
28                                  NaN    NaN     NaN     NaN     NaN
29                                  NaN    NaN     NaN     NaN     NaN
30                                  NaN    NaN     NaN     NaN     NaN
31                                  NaN    NaN     NaN     NaN     NaN
32                                  NaN    NaN     NaN     NaN     NaN
33                                  NaN    NaN     NaN     NaN     NaN
34                                  NaN    NaN     NaN     NaN     NaN
35                                  NaN    NaN     NaN     NaN     NaN
36                                  NaN    NaN     NaN     NaN     NaN
37                                  NaN    NaN     NaN     NaN     NaN
38                                  NaN    NaN     NaN     NaN     NaN
39                                  NaN    NaN     NaN     NaN     NaN
40                                  NaN    NaN     NaN     NaN     NaN
41                                  NaN    NaN     NaN     NaN     NaN
42                                  NaN    NaN     NaN     NaN     NaN
43                                  NaN    NaN     NaN     NaN     NaN
44                                  NaN    NaN     NaN     NaN     NaN
45                                  NaN    NaN     NaN     NaN     NaN
46                                  NaN    NaN     NaN     NaN     NaN
47                                  NaN    NaN     NaN     NaN     NaN
48                                  NaN    NaN     NaN     NaN     NaN
49                                  NaN    NaN     NaN     NaN     NaN
50                                  NaN    NaN     NaN     NaN     NaN
51                                  NaN    NaN     NaN     NaN     NaN
52                                  NaN    NaN     NaN     NaN     NaN
53                                  NaN    NaN     NaN     NaN     NaN
54                                  NaN    NaN     NaN     NaN     NaN

      1980     1985     1990     1991     1992  ...     2012     2013  \
0   26,440   37,629   58,092   56,481   58,133  ...  135,879  139,184
1        N        N  127,314  126,772  135,437  ...  307,365  320,439
2        U        U        U        U        U  ...    1,151    1,271
3    6,510   12,195   16,053   16,949   17,044  ...   42,850   44,271
4   28,258   27,586   28,370   27,845   28,349  ...   69,887   72,873
5      454      832    1,308    1,347    1,320  ...    2,877    2,992
6        U        U   11,532        U        U  ...   15,744   16,314
7        U        U   13,443        U        U  ...   14,007   15,734
8   85,918  103,945   66,027   63,922   66,405  ...   68,424   75,587
9   41,604   45,738   21,756   19,818   20,193  ...    9,208   12,184
10  14,013   21,510   18,750   17,812   19,854  ...   34,518   38,284
11  17,300   17,396   10,117   11,047   10,279  ...    2,131    2,605
12  13,001   19,301   15,404   15,245   16,079  ...   22,567   22,514
13     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
14     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
15     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
16     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
17     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
18     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
19     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
20     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
21     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
22     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
23     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
24     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
25     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
26     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
27     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
28     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
29     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
30     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
31     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
32     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
33     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
34     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
35     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
36     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
37     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
38     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
39     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
40     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
41     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
42     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
43     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
44     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
45     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
46     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
47     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
48     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
49     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
50     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
51     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
52     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
53     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
54     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN

       2014     2015     2016     2017         2018         2019     2020  \
0   145,938  147,025  151,195  160,640  (R) 171,729  (R) 179,392   92,806
1   345,965  352,576  357,314  380,940  (R) 410,925  (R) 422,481  433,998
2     1,391    1,463    1,595    1,730        1,718    (R) 1,708      992
3    46,393   46,416   48,699   50,094       51,764       54,360   54,236
4    77,659   71,709   65,762   69,998       76,177       74,300   66,049
5     3,234    3,206    3,146    3,175        3,208        3,323    2,265
6    17,807   16,800   15,297   14,520   (R) 15,375       16,012   12,932
7    19,281   22,019   23,100   25,427       29,035       32,895   31,898
8    77,827   69,170   69,645   74,084       79,606       79,217   76,830
9    12,087   10,777   11,095   12,091       12,872       12,592   11,305
10   37,652   33,108   33,133   36,803       39,500       39,280   37,637
11    2,508    2,140    2,449    2,290        2,420        2,398    3,277
12   25,580   23,145   22,968   22,900       24,814       24,947   24,611
13      NaN      NaN      NaN      NaN          NaN          NaN      NaN
14      NaN      NaN      NaN      NaN          NaN          NaN      NaN
15      NaN      NaN      NaN      NaN          NaN          NaN      NaN
16      NaN      NaN      NaN      NaN          NaN          NaN      NaN
17      NaN      NaN      NaN      NaN          NaN          NaN      NaN
18      NaN      NaN      NaN      NaN          NaN          NaN      NaN
19      NaN      NaN      NaN      NaN          NaN          NaN      NaN
20      NaN      NaN      NaN      NaN          NaN          NaN      NaN
21      NaN      NaN      NaN      NaN          NaN          NaN      NaN
22      NaN      NaN      NaN      NaN          NaN          NaN      NaN
23      NaN      NaN      NaN      NaN          NaN          NaN      NaN
24      NaN      NaN      NaN      NaN          NaN          NaN      NaN
25      NaN      NaN      NaN      NaN          NaN          NaN      NaN
26      NaN      NaN      NaN      NaN          NaN          NaN      NaN
27      NaN      NaN      NaN      NaN          NaN          NaN      NaN
28      NaN      NaN      NaN      NaN          NaN          NaN      NaN
29      NaN      NaN      NaN      NaN          NaN          NaN      NaN
30      NaN      NaN      NaN      NaN          NaN          NaN      NaN
31      NaN      NaN      NaN      NaN          NaN          NaN      NaN
32      NaN      NaN      NaN      NaN          NaN          NaN      NaN
33      NaN      NaN      NaN      NaN          NaN          NaN      NaN
34      NaN      NaN      NaN      NaN          NaN          NaN      NaN
35      NaN      NaN      NaN      NaN          NaN          NaN      NaN
36      NaN      NaN      NaN      NaN          NaN          NaN      NaN
37      NaN      NaN      NaN      NaN          NaN          NaN      NaN
38      NaN      NaN      NaN      NaN          NaN          NaN      NaN
39      NaN      NaN      NaN      NaN          NaN          NaN      NaN
40      NaN      NaN      NaN      NaN          NaN          NaN      NaN
41      NaN      NaN      NaN      NaN          NaN          NaN      NaN
42      NaN      NaN      NaN      NaN          NaN          NaN      NaN
43      NaN      NaN      NaN      NaN          NaN          NaN      NaN
44      NaN      NaN      NaN      NaN          NaN          NaN      NaN
45      NaN      NaN      NaN      NaN          NaN          NaN      NaN
46      NaN      NaN      NaN      NaN          NaN          NaN      NaN
47      NaN      NaN      NaN      NaN          NaN          NaN      NaN
48      NaN      NaN      NaN      NaN          NaN          NaN      NaN
49      NaN      NaN      NaN      NaN          NaN          NaN      NaN
50      NaN      NaN      NaN      NaN          NaN          NaN      NaN
51      NaN      NaN      NaN      NaN          NaN          NaN      NaN
52      NaN      NaN      NaN      NaN          NaN          NaN      NaN
53      NaN      NaN      NaN      NaN          NaN          NaN      NaN
54      NaN      NaN      NaN      NaN          NaN          NaN      NaN

     2021
0       U
1       U
2       U
3       U
4       U
5   1,933
6       U
7       U
8       U
9       U
10      U
11      U
12      U
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
50    NaN
51    NaN
52    NaN
53    NaN
54    NaN

[55 rows x 39 columns]
                              Category   1960    1965    1970    1975    1980  \
0  Air carrier, domestic, all services  2,178   3,691   7,180  12,020  26,440
1                            Truckinga      N       N       N       N       N
2             Interurban and rural bus      U       U       U       U       U
3                             Transitb  1,407   1,444   1,707   3,451   6,510
4                         Class I rail  9,514  10,208  11,992  16,402  28,258

     1985     1990     1991     1992  ...     2012     2013     2014     2015  \
0  37,629   58,092   56,481   58,133  ...  135,879  139,184  145,938  147,025
1       N  127,314  126,772  135,437  ...  307,365  320,439  345,965  352,576
2       U        U        U        U  ...    1,151    1,271    1,391    1,463
3  12,195   16,053   16,949   17,044  ...   42,850   44,271   46,393   46,416
4  27,586   28,370   27,845   28,349  ...   69,887   72,873   77,659   71,709

      2016     2017         2018         2019     2020 2021
0  151,195  160,640  (R) 171,729  (R) 179,392   92,806    U
1  357,314  380,940  (R) 410,925  (R) 422,481  433,998    U
2    1,595    1,730        1,718    (R) 1,708      992    U
3   48,699   50,094       51,764       54,360   54,236    U
4   65,762   69,998       76,177       74,300   66,049    U

[5 rows x 39 columns]
Empty DataFrame
Columns: [DATE, VAPGDPT]
Index: []
         DATE  VAPGDPT
0    1/1/2005      2.8
1    4/1/2005      2.9
2    7/1/2005      2.9
3   10/1/2005      3.0
4    1/1/2006      3.0
..        ...      ...
65   4/1/2021      2.9
66   7/1/2021      3.0
67  10/1/2021      3.1
68   1/1/2022      3.1
69   4/1/2022      3.2

[70 rows x 2 columns]
        DATE  VAPGDPT
0   1/1/2005      2.8
1   4/1/2005      2.9
2   7/1/2005      2.9
3  10/1/2005      3.0
4   1/1/2006      3.0
Empty DataFrame
Columns: [Category, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
Index: []

[0 rows x 26 columns]
              Category      1995      1996      1997      1998      1999  \
0         Total trucks  64778472  75940206  77307408  79062475  83147802

In [67]:
execute_function(df_list,missing_to_nan,'Missing to nan')

Missing to nan
                          Category  1960  1965  1970  1975  1980  1985  1990  \
1                           Truckb   NaN   NaN   NaN   NaN   NaN  5.34  7.64
2                     Class I rail  1.40  1.27  1.43  2.04  2.87  3.04  2.66
3   Water Transportation, domestic   NaN   NaN   NaN   NaN   NaN   NaN  1.42
4                     Oil pipeline   NaN   NaN   NaN   NaN   NaN   NaN  1.22
6                              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7                              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8                              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9                              NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
29                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
30                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
31                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
32                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
33                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
34                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
35                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
36                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
37                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
38                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
39                             NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

    1991  1992  ...   2012   2013   2014   2015   2016   2017   2018  \
1   7.54  7.75  ...  16.72  15.99  17.68  17.75  17.34  16.10  17.55
2   2.59  2.58  ...   3.95   4.05   4.05   3.97   3.99   4.02   4.23
3   1.41  1.39  ...   3.18   3.36   3.37   3.25   3.00   2.74   2.88
4   1.18  1.21  ...   1.63   1.92   2.26   2.49   2.66   2.88   3.11
6    NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7    NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
8    NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
9    NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
10   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
11   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
12   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
13   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
14   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
15   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
16   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
17   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
18   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
19   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
20   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
21   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
22   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
23   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
24   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
25   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
26   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
27   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
28   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
29   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
30   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
31   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
32   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
33   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
34   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
35   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
36   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
37   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
38   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
39   NaN   NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN

         2019   2020  2021
1   (R) 17.84  17.88   NaN
2        4.42   4.40   NaN
3        3.22   2.94   NaN
4        3.41   3.44   NaN
6         NaN    NaN   NaN
7         NaN    NaN   NaN
8         NaN    NaN   NaN
9         NaN    NaN   NaN
10        NaN    NaN   NaN
11        NaN    NaN   NaN
12        NaN    NaN   NaN
13        NaN    NaN   NaN
14        NaN    NaN   NaN
15        NaN    NaN   NaN
16        NaN    NaN   NaN
17        NaN    NaN   NaN
18        NaN    NaN   NaN
19        NaN    NaN   NaN
20        NaN    NaN   NaN
21        NaN    NaN   NaN
22        NaN    NaN   NaN
23        NaN    NaN   NaN
24        NaN    NaN   NaN
25        NaN    NaN   NaN
26        NaN    NaN   NaN
27        NaN    NaN   NaN
28        NaN    NaN   NaN
29        NaN    NaN   NaN
30        NaN    NaN   NaN
31        NaN    NaN   NaN
32        NaN    NaN   NaN
33        NaN    NaN   NaN
34        NaN    NaN   NaN
35        NaN    NaN   NaN
36        NaN    NaN   NaN
37        NaN    NaN   NaN
38        NaN    NaN   NaN
39        NaN    NaN   NaN

[38 rows x 39 columns]
                         Category   1960   1965   1970   1975   1980   1985  \
0          Air carrier, domestica  22.80  20.46  21.91  28.22  46.31  48.77
1                          Truckb    NaN    NaN    NaN    NaN    NaN   5.34
2                    Class I rail   1.40   1.27   1.43   2.04   2.87   3.04
3  Water Transportation, domestic    NaN    NaN    NaN    NaN    NaN    NaN
4                    Oil pipeline    NaN    NaN    NaN    NaN    NaN    NaN

    1990   1991   1992  ...    2012    2013    2014    2015    2016    2017  \
0  59.71  60.95  63.07  ...  133.51  135.47  135.85  124.04  119.90  125.15
1   7.64   7.54   7.75  ...   16.72   15.99   17.68   17.75   17.34   16.10
2   2.66   2.59   2.58  ...    3.95    4.05    4.05    3.97    3.99    4.02
3   1.42   1.41   1.39  ...    3.18    3.36    3.37    3.25    3.00    2.74
4   1.22   1.18   1.21  ...    1.63    1.92    2.26    2.49    2.66    2.88

     2018       2019    2020   2021
0  137.49     137.67  122.98  97.86
1   17.55  (R) 17.84   17.88    NaN
2    4.23       4.42    4.40    NaN
3    2.88       3.22    2.94    NaN
4    3.11       3.41    3.44    NaN

[5 rows x 39 columns]

                                        Category    1998    1999    2000  \
0                                 All industries  35,509  37,050  39,231
1          Transportation and warehousing, total  35,965  37,426  39,055
2                                            Air  48,919  50,879  53,231
3                                           Rail  59,766  61,287  63,353
4                                         Water   48,450  50,407  51,516
5                                          Truck  33,686  34,864  36,030
6    Transit and ground passenger transportation  21,840  22,801  23,827
7                                      Pipeline   64,305  71,789  96,662
8   Other transportation and support activitiesb  32,605  34,489  35,823
9                        Warehousing and storage  31,317  32,307  33,623
10                                           NaN     NaN     NaN     NaN
11                                           NaN     NaN     NaN     NaN
12                                           NaN     NaN     NaN     NaN
13                                           NaN     NaN     NaN     NaN
14                                           NaN     NaN     NaN     NaN
15                                           NaN     NaN     NaN     NaN
16                                           NaN     NaN     NaN     NaN
17                                           NaN     NaN     NaN     NaN
18                                           NaN     NaN     NaN     NaN
19                                           NaN     NaN     NaN     NaN
20                                           NaN     NaN     NaN     NaN
21                                           NaN     NaN     NaN     NaN
22                                           NaN     NaN     NaN     NaN
23                                           NaN     NaN     NaN     NaN
24                                           NaN     NaN     NaN     NaN
25                                           NaN     NaN     NaN     NaN
26                                           NaN     NaN     NaN     NaN
27                                           NaN     NaN     NaN     NaN
28                                           NaN     NaN     NaN     NaN
29                                           NaN     NaN     NaN     NaN
30                                           NaN     NaN     NaN     NaN
31                                           NaN     NaN     NaN     NaN
32                                           NaN     NaN     NaN     NaN
33                                           NaN     NaN     NaN     NaN
34                                           NaN     NaN     NaN     NaN
35                                           NaN     NaN     NaN     NaN
36                                           NaN     NaN     NaN     NaN
37                                           NaN     NaN     NaN     NaN
38                                           NaN     NaN     NaN     NaN
39                                           NaN     NaN     NaN     NaN
40                                           NaN     NaN     NaN     NaN
41                                           NaN     NaN     NaN     NaN
42                                           NaN     NaN     NaN     NaN
43                                           NaN     NaN     NaN     NaN
44                                           NaN     NaN     NaN     NaN

       2001    2002    2003    2004    2005    2006  ... Unnamed: 26  \
0    40,213  40,975  42,335  44,263  45,643  47,731  ...         NaN
1    39,941  40,690  41,542  43,324  43,939  45,491  ...         NaN
2    56,129  58,115  57,596  59,026  56,772  59,290  ...         NaN
3    64,100  65,120  68,108  72,097  72,903  75,207  ...         NaN
4    55,953  56,988  58,202  61,774  62,903  66,463  ...         NaN
5    36,502  37,315  38,296  40,106  41,481  43,069  ...         NaN
6    24,335  24,764  25,274  26,725  27,123  28,600  ...         NaN
7   100,514  82,058  83,970  89,294  88,952  97,746  ...         NaN
8    36,173  37,672  39,122  41,429  42,518  44,126  ...         NaN
9    34,156  35,164  36,605  37,942  38,861  39,410  ...         NaN
10      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
11      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
12      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
13      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
14      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
15      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
16      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
17      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
18      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
19      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
20      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
21      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
22      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
23      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
24      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
25      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
26      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
27      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
28      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
29      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
30      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
31      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
32      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
33      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
34      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
35      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
36      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
37      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
38      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
39      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
40      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
41      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
42      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
43      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN
44      NaN     NaN     NaN     NaN     NaN     NaN  ...         NaN

   Unnamed: 27 Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN         NaN
9          NaN         NaN         NaN         NaN         NaN         NaN
10         NaN         NaN         NaN         NaN         NaN         NaN
11         NaN         NaN         NaN         NaN         NaN         NaN
12         NaN         NaN         NaN         NaN         NaN         NaN
13         NaN         NaN         NaN         NaN         NaN         NaN
14         NaN         NaN         NaN         NaN         NaN         NaN
15         NaN         NaN         NaN         NaN         NaN         NaN
16         NaN         NaN         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN         NaN         NaN
18         NaN         NaN         NaN         NaN         NaN         NaN
19         NaN         NaN         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN         NaN         NaN
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN
26         NaN         NaN         NaN         NaN         NaN         NaN
27         NaN         NaN         NaN         NaN         NaN         NaN
28         NaN         NaN         NaN         NaN         NaN         NaN
29         NaN         NaN         NaN         NaN         NaN         NaN
30         NaN         NaN         NaN         NaN         NaN         NaN
31         NaN         NaN         NaN         NaN         NaN         NaN
32         NaN         NaN         NaN         NaN         NaN         NaN
33         NaN         NaN         NaN         NaN         NaN         NaN
34         NaN         NaN         NaN         NaN         NaN         NaN
35         NaN         NaN         NaN         NaN         NaN         NaN
36         NaN         NaN         NaN         NaN         NaN         NaN
37         NaN         NaN         NaN         NaN         NaN         NaN
38         NaN         NaN         NaN         NaN         NaN         NaN
39         NaN         NaN         NaN         NaN         NaN         NaN
40         NaN         NaN         NaN         NaN         NaN         NaN
41         NaN         NaN         NaN         NaN         NaN         NaN
42         NaN         NaN         NaN         NaN         NaN         NaN
43         NaN         NaN         NaN         NaN         NaN         NaN
44         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 33 Unnamed: 34 Unnamed: 35
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN
28         NaN         NaN         NaN
29         NaN         NaN         NaN
30         NaN         NaN         NaN
31         NaN         NaN         NaN
32         NaN         NaN         NaN
33         NaN         NaN         NaN
34         NaN         NaN         NaN
35         NaN         NaN         NaN
36         NaN         NaN         NaN
37         NaN         NaN         NaN
38         NaN         NaN         NaN
39         NaN         NaN         NaN
40         NaN         NaN         NaN
41         NaN         NaN         NaN
42         NaN         NaN         NaN
43         NaN         NaN         NaN
44         NaN         NaN         NaN

[45 rows x 36 columns]
                                Category    1998    1999    2000    2001  \
0                         All industries  35,509  37,050  39,231  40,213
1  Transportation and warehousing, total  35,965  37,426  39,055  39,941
2                                    Air  48,919  50,879  53,231  56,129
3                                   Rail  59,766  61,287  63,353  64,100
4                                 Water   48,450  50,407  51,516  55,953

     2002    2003    2004    2005    2006  ... Unnamed: 26 Unnamed: 27  \
0  40,975  42,335  44,263  45,643  47,731  ...         NaN         NaN
1  40,690  41,542  43,324  43,939  45,491  ...         NaN         NaN
2  58,115  57,596  59,026  56,772  59,290  ...         NaN         NaN
3  65,120  68,108  72,097  72,903  75,207  ...         NaN         NaN
4  56,988  58,202  61,774  62,903  66,463  ...         NaN         NaN

  Unnamed: 28 Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32 Unnamed: 33  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 34 Unnamed: 35
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 36 columns]
Empty DataFrame
Columns: [DATE, GASDESW]
Index: []
         DATE  GASDESW
0  1994-03-21    1.106
1  1994-03-28    1.107
2  1994-04-04    1.109
3  1994-04-11    1.108
4  1994-04-18    1.105
Empty DataFrame
Columns: [DATE, PCU336120336120P]
Index: []
         DATE  PCU336120336120P
0  2003-12-01             100.0
1  2004-01-01             101.3
2  2004-02-01             101.4
3  2004-03-01             101.5
4  2004-04-01             101.6
Empty DataFrame
Columns: [DATE, PCU484484]
Index: []
         DATE  PCU484484
0  2003-12-01      100.0
1  2004-01-01      100.4
2  2004-02-01      101.1
3  2004-03-01      101.3
4  2004-04-01      101.6
                               Category   1960    1965    1970    1975  \
0   Air carrier, domestic, all services  2,178   3,691   7,180  12,020
1                             Truckinga    NaN     NaN     NaN     NaN
2              Interurban and rural bus    NaN     NaN     NaN     NaN
3                              Transitb  1,407   1,444   1,707   3,451
4                          Class I rail  9,514  10,208  11,992  16,402
5                    Intercity /Amtrakc    NaN     NaN     NaN     253
6      Water transportation (domestic)d    NaN     NaN     NaN     NaN
7                         Oil pipelinee    NaN     NaN     NaN     NaN
8       Gas pipeline (investor-owned)f   8,700  11,500  16,400  30,551
9                Transmission companies  3,190   4,088   5,928  11,898
10               Distribution companies    NaN     NaN     NaN   5,938
11                 Integrated companies    NaN     NaN     NaN   6,962
12                Combination companies    NaN     NaN     NaN   5,753
13                                  NaN    NaN     NaN     NaN     NaN
14                                  NaN    NaN     NaN     NaN     NaN
15                                  NaN    NaN     NaN     NaN     NaN
16                                  NaN    NaN     NaN     NaN     NaN
17                                  NaN    NaN     NaN     NaN     NaN
18                                  NaN    NaN     NaN     NaN     NaN
19                                  NaN    NaN     NaN     NaN     NaN
20                                  NaN    NaN     NaN     NaN     NaN
21                                  NaN    NaN     NaN     NaN     NaN
22                                  NaN    NaN     NaN     NaN     NaN
23                                  NaN    NaN     NaN     NaN     NaN
24                                  NaN    NaN     NaN     NaN     NaN
25                                  NaN    NaN     NaN     NaN     NaN
26                                  NaN    NaN     NaN     NaN     NaN
27                                  NaN    NaN     NaN     NaN     NaN
28                                  NaN    NaN     NaN     NaN     NaN
29                                  NaN    NaN     NaN     NaN     NaN
30                                  NaN    NaN     NaN     NaN     NaN
31                                  NaN    NaN     NaN     NaN     NaN
32                                  NaN    NaN     NaN     NaN     NaN
33                                  NaN    NaN     NaN     NaN     NaN
34                                  NaN    NaN     NaN     NaN     NaN
35                                  NaN    NaN     NaN     NaN     NaN
36                                  NaN    NaN     NaN     NaN     NaN
37                                  NaN    NaN     NaN     NaN     NaN
38                                  NaN    NaN     NaN     NaN     NaN
39                                  NaN    NaN     NaN     NaN     NaN
40                                  NaN    NaN     NaN     NaN     NaN
41                                  NaN    NaN     NaN     NaN     NaN
42                                  NaN    NaN     NaN     NaN     NaN
43                                  NaN    NaN     NaN     NaN     NaN
44                                  NaN    NaN     NaN     NaN     NaN
45                                  NaN    NaN     NaN     NaN     NaN
46                                  NaN    NaN     NaN     NaN     NaN
47                                  NaN    NaN     NaN     NaN     NaN
48                                  NaN    NaN     NaN     NaN     NaN
49                                  NaN    NaN     NaN     NaN     NaN
50                                  NaN    NaN     NaN     NaN     NaN
51                                  NaN    NaN     NaN     NaN     NaN
52                                  NaN    NaN     NaN     NaN     NaN
53                                  NaN    NaN     NaN     NaN     NaN
54                                  NaN    NaN     NaN     NaN     NaN

      1980     1985     1990     1991     1992  ...     2012     2013  \
0   26,440   37,629   58,092   56,481   58,133  ...  135,879  139,184
1      NaN      NaN  127,314  126,772  135,437  ...  307,365  320,439
2      NaN      NaN      NaN      NaN      NaN  ...    1,151    1,271
3    6,510   12,195   16,053   16,949   17,044  ...   42,850   44,271
4   28,258   27,586   28,370   27,845   28,349  ...   69,887   72,873
5      454      832    1,308    1,347    1,320  ...    2,877    2,992
6      NaN      NaN   11,532      NaN      NaN  ...   15,744   16,314
7      NaN      NaN   13,443      NaN      NaN  ...   14,007   15,734
8   85,918  103,945   66,027   63,922   66,405  ...   68,424   75,587
9   41,604   45,738   21,756   19,818   20,193  ...    9,208   12,184
10  14,013   21,510   18,750   17,812   19,854  ...   34,518   38,284
11  17,300   17,396   10,117   11,047   10,279  ...    2,131    2,605
12  13,001   19,301   15,404   15,245   16,079  ...   22,567   22,514
13     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
14     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
15     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
16     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
17     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
18     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
19     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
20     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
21     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
22     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
23     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
24     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
25     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
26     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN
27     NaN      NaN      NaN      NaN      NaN  ...      NaN      NaN

[5 rows x 42 columns]

We have successfully transformed all the missing values in the consistent format in order to delete them.

In [68]:
def delete_na(df):
    df.dropna(thresh=2,inplace=True)
    df.dropna(thresh=2,axis='columns',inplace=True)
    print(df[df.isna().any(axis=1)])
   # Function deletes na in columns and rows who have at least 2 non missing values in df

In [69]:
def replace_regex(df,regex,colname,insert,newtype):
    df[colname] = df[colname].replace(regex,'',regex=True).astype(newtype)
# This function was created in order to make transformation of values faster. Function replaces the unnecessary signs or letters and converts to desired datatype.

In [70]:
execute_function(df_list,delete_na,'Deleting Na')

Deleting Na
                         Category  1960  1965  1970  1975  1980  1985  1990  \
1                          Truckb   NaN   NaN   NaN   NaN   NaN  5.34  7.64
2                    Class I rail  1.40  1.27  1.43  2.04  2.87  3.04  2.66
3  Water Transportation, domestic   NaN   NaN   NaN   NaN   NaN   NaN  1.42
4                    Oil pipeline   NaN   NaN   NaN   NaN   NaN   NaN  1.22

   1991  1992  ...   2012   2013   2014   2015   2016   2017   2018  \
1  7.54  7.75  ...  16.72  15.99  17.68  17.75  17.34  16.10  17.55
2  2.59  2.58  ...   3.95   4.05   4.05   3.97   3.99   4.02   4.23
3  1.41  1.39  ...   3.18   3.36   3.37   3.25   3.00   2.74   2.88
4  1.18  1.21  ...   1.63   1.92   2.26   2.49   2.66   2.88   3.11

        2019   2020  2021
1  (R) 17.84  17.88   NaN
2       4.42   4.40   NaN
3       3.22   2.94   NaN
4       3.41   3.44   NaN

[4 rows x 39 columns]
                         Category   1960   1965   1970   1975   1980   1985  \
0          Air carrier, domestica  22.80  20.46  21.91  28.22  46.31  48.77
1                          Truckb    NaN    NaN    NaN    NaN    NaN   5.34
2                    Class I rail   1.40   1.27   1.43   2.04   2.87   3.04
3  Water Transportation, domestic    NaN    NaN    NaN    NaN    NaN    NaN
4                    Oil pipeline    NaN    NaN    NaN    NaN    NaN    NaN

    1990   1991   1992  ...    2012    2013    2014    2015    2016    2017  \
0  59.71  60.95  63.07  ...  133.51  135.47  135.85  124.04  119.90  125.15
1   7.64   7.54   7.75  ...   16.72   15.99   17.68   17.75   17.34   16.10
2   2.66   2.59   2.58  ...    3.95    4.05    4.05    3.97    3.99    4.02
3   1.42   1.41   1.39  ...    3.18    3.36    3.37    3.25    3.00    2.74
4   1.22   1.18   1.21  ...    1.63    1.92    2.26    2.49    2.66    2.88

     2018       2019    2020   2021
0  137.49     137.67  122.98  97.86
1   17.55  (R) 17.84   17.88    NaN
2    4.23       4.42    4.40    NaN
3    2.88       3.22    2.94    NaN
4    3.11       3.41    3.44    NaN

[5 rows x 39 columns]
Empty DataFrame
Columns: [Category, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, (R) 2017, (R) 2018, (R) 2019, (R) 2020, 2021]
Index: []

[0 rows x 25 columns]
                                Category    1998    1999    2000    2001  \
0                         All industries  35,509  37,050  39,231  40,213
1  Transportation and warehousing, total  35,965  37,426  39,055  39,941
2                                    Air  48,919  50,879  53,231  56,129
3                                   Rail  59,766  61,287  63,353  64,100
4                                 Water   48,450  50,407  51,516  55,953

     2002    2003    2004    2005    2006  ...    2012    2013    2014  \
0  40,975  42,335  44,263  45,643  47,731  ...  56,089  56,667  58,350
1  40,690  41,542  43,324  43,939  45,491  ...  52,427  53,364  54,817
2  58,115  57,596  59,026  56,772  59,290  ...  70,419  77,843  80,317
3  65,120  68,108  72,097  72,903  75,207  ...  92,289  88,364  94,268
4  56,988  58,202  61,774  62,903  66,463  ...  82,976  84,329  87,942

     2015    2016 (R) 2017 (R) 2018 (R) 2019 (R) 2020     2021
0  59,993  60,826   62,726   64,694   66,712   71,455   75,447
1  55,941  56,593   57,808   59,628   60,654   61,448   64,575
2  84,815  92,313   94,766   96,598   98,315   99,822  102,091
3  95,455  93,446   96,818  103,022  103,288  102,729  109,009
4  90,253  89,909   92,209   95,416   96,452  101,142  103,624

[5 rows x 25 columns]
Empty DataFrame
Columns: [DATE, GASDESW]
Index: []
         DATE  GASDESW
0  1994-03-21    1.106
1  1994-03-28    1.107
2  1994-04-04    1.109
3  1994-04-11    1.108
4  1994-04-18    1.105
Empty DataFrame
Columns: [DATE, PCU336120336120P]
Index: []
         DATE  PCU336120336120P
0  2003-12-01             100.0
1  2004-01-01             101.3
2  2004-02-01             101.4
3  2004-03-01             101.5
4  2004-04-01             101.6
Empty DataFrame
Columns: [DATE, PCU484484]
Index: []
         DATE  PCU484484
0  2003-12-01      100.0
1  2004-01-01      100.4
2  2004-02-01      101.1
3  2004-03-01      101.3
4  2004-04-01      101.6
                            Category   1960    1965    1970    1975    1980  \
1                          Truckinga    NaN     NaN     NaN     NaN     NaN
2           Interurban and rural bus    NaN     NaN     NaN     NaN     NaN
5                 Intercity /Amtrakc    NaN     NaN     NaN     253     454
6   Water transportation (domestic)d    NaN     NaN     NaN     NaN     NaN
7                      Oil pipelinee    NaN     NaN     NaN     NaN     NaN
8    Gas pipeline (investor-owned)f   8,700  11,500  16,400  30,551  85,918
10            Distribution companies    NaN     NaN     NaN   5,938  14,013
11              Integrated companies    NaN     NaN     NaN   6,962  17,300
12             Combination companies    NaN     NaN     NaN   5,753  13,001

       1985     1990     1991     1992  ...     2011     2012     2013  \
1       NaN  127,314  126,772  135,437  ...  289,043  307,365  320,439
2       NaN      NaN      NaN      NaN  ...    1,106    1,151    1,271
5       832    1,308    1,347    1,320  ...    2,707    2,877    2,992
6       NaN   11,532      NaN      NaN  ...   14,824   15,744   16,314
7       NaN   13,443      NaN      NaN  ...   12,562   14,007   15,734
8   103,945   66,027   63,922   66,405  ...   79,797   68,424   75,587
10   21,510   18,750   17,812   19,854  ...   40,514   34,518   38,284
11   17,396   10,117   11,047   10,279  ...    2,448    2,131    2,605
12   19,301   15,404   15,245   16,079  ...   23,887   22,567   22,514

       2014     2015     2016     2017         2018         2019     2020
1   345,965  352,576  357,314  380,940  (R) 410,925  (R) 422,481  433,998
2     1,391    1,463    1,595    1,730        1,718    (R) 1,708      992
5     3,234    3,206    3,146    3,175        3,208        3,323    2,265
6    17,807   16,800   15,297   14,520   (R) 15,375       16,012   12,932
7    19,281   22,019   23,100   25,427       29,035       32,895   31,898
8    77,827   69,170   69,645   74,084       79,606       79,217   76,830
10   37,652   33,108   33,133   36,803       39,500       39,280   37,637
11    2,508    2,140    2,449    2,290        2,420        2,398    3,277
12   25,580   23,145   22,968   22,900       24,814       24,947   24,611

[9 rows x 38 columns]
                              Category   1960    1965    1970    1975    1980  \
0  Air carrier, domestic, all services  2,178   3,691   7,180  12,020  26,440
1                            Truckinga    NaN     NaN     NaN     NaN     NaN
2             Interurban and rural bus    NaN     NaN     NaN     NaN     NaN
3                             Transitb  1,407   1,444   1,707   3,451   6,510
4                         Class I rail  9,514  10,208  11,992  16,402  28,258

     1985     1990     1991     1992  ...     2011     2012     2013     2014  \
0  37,629   58,092   56,481   58,133  ...  132,888  135,879  139,184  145,938
1     NaN  127,314  126,772  135,437  ...  289,043  307,365  320,439  345,965
2     NaN      NaN      NaN      NaN  ...    1,106    1,151    1,271    1,391
3  12,195   16,053   16,949   17,044  ...   41,017   42,850   44,271   46,393
4  27,586   28,370   27,845   28,349  ...   67,154   69,887   72,873   77,659

      2015     2016     2017         2018         2019     2020
0  147,025  151,195  160,640  (R) 171,729  (R) 179,392   92,806
1  352,576  357,314  380,940  (R) 410,925  (R) 422,481  433,998
2    1,463    1,595    1,730        1,718    (R) 1,708      992
3   46,416   48,699   50,094       51,764       54,360   54,236
4   71,709   65,762   69,998       76,177       74,300   66,049

[5 rows x 38 columns]
Empty DataFrame
Columns: [DATE, VAPGDPT]
Index: []
        DATE  VAPGDPT
0   1/1/2005      2.8
1   4/1/2005      2.9
2   7/1/2005      2.9
3  10/1/2005      3.0
4   1/1/2006      3.0
      Category     1995     1996     1997     1998     1999     2000     2001  \
5  Farm trucks  1838743  1877124  1912104  1931092  1893958  1885170  1940346

      2002     2003  ...     2010     2011     2012  2013  2014  2015  2016  \
5  1850545  1852031  ...  1915941  1475021  1543985   NaN   NaN   NaN   NaN

   2017  2018 2019
5   NaN   NaN  NaN

[1 rows x 26 columns]
          Category      1995      1996      1997      1998      1999  \
0     Total trucks  64778472  75940206  77307408  79062475  83147802
1          Pickups  28200171  37249308  36980204  36203370  37667859
2             Vans  11557118  14360215  15593198  17022370  16543699
3  Sport utilities   7440984  15591184  15623803  16002524  19010315
4     Other lighta   9590256    681164    809729    854853    881677

       2000      2001      2002      2003  ...       2010       2011  \
0  87107628  92045311  92938585  94943551  ...  110322256  118455587
1  38216835  39409967  38745312  38482613  ...   40980641   40850084
2  17250102  18222321  18063075  18028775  ...   17549297   47070170
3  21466592  24297697  25967542  28291752  ...   43732613   17202408
4    863298   1018610   1007970    997606  ...     439770     448617

        2012       2013       2014       2015       2016       2017  \
0  133130032  132931240  137531011  141256148  146182276  151605435
1   45411976   44958268   45678808   46844188   46941851   47864139
2   20183007   18394510   17415020   16917823   16577778   16222359
3   55036982   57090992   61501944   64703676   69112824   73581210
4     214983      78790      84837      86862      83218      81238

        2018       2019
0  152701631  158352117
1   47130838   48320784
2   15389921   15075377
3   75758440   80511102
4      77399      75515

[5 rows x 26 columns]
Empty DataFrame
Columns: [Category, 1980, 1985, 1990, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Index: []

[0 rows x 31 columns]
                                      Category     1980     1985     1990  \
0                               TOTAL U.S. GDP  2,788.1  4,217.5  5,800.5
1  For-hire transportation services GDP, total    102.6    137.1    172.8
2                           Air transportation     13.1     19.3     31.3
3                          Rail transportation     20.2     21.0     18.6
4                         Water transportation      3.5      4.0      5.1

      1995     1996     1997     1998     1999      2000  ...      2012  \
0  7,414.7  7,838.5  8,577.6  9,062.8  9,631.2  10,251.0  ...  16,254.0
1    231.7    241.3    257.3    280.0    290.1     307.8  ...     473.3
2     46.2     46.9     54.7     55.2     57.7      58.1  ...      88.1
3     21.1     20.9     20.0     22.2     22.6      23.3  ...      39.7
4      6.3      6.6      6.6      6.5      6.6       8.0  ...      13.2

       2013      2014      2015      2016      2017      2018      2019  \
0  16,843.2  17,550.7  18,206.0  18,695.1  19,479.6  20,527.2  21,372.6
1     492.1     522.5     566.1     582.4     609.4     648.1     685.7
2      94.2     103.0     117.7     129.2     134.8     136.1     146.3
3      41.0      43.9      44.3      40.1      41.3      43.7      42.4
4      16.5      16.2      15.8      13.5      13.0      14.2      14.4

       2020      2021
0  20,893.7  22,996.1
1     572.0     642.6
2      57.9      66.8
3      37.6      38.1
4       9.6      11.0

[5 rows x 31 columns]
               Category                  Value Unnamed: 2        Tons  \
0  Transportation mode   (billions of dollars)    Percent  (millions)
9             Pipelinec                  339.9       20.2       679.8

  Unnamed: 4   Ton-miles Unnamed: 6 Average miles per shipment
0    Percent  (billions)    Percent                        NaN
9       22.9         NaN        NaN                        NaN
               Category                  Value Unnamed: 2        Tons  \
0  Transportation mode   (billions of dollars)    Percent  (millions)
1       TOTAL all modes                1,680.2      100.0     2,968.0
2   Single modes, total                1,612.1       95.9     2,889.5
3                Trucka                 1091.3       64.9      1814.8
4              For-hire                  567.6       33.8       932.7

  Unnamed: 4   Ton-miles Unnamed: 6 Average miles per shipment
0    Percent  (billions)    Percent                        NaN
1      100.0       382.5      100.0                        189
2       97.4       307.2       80.3                         72
3       61.1       126.8       33.2                         63
4       31.4        92.1       24.1                        153
Empty DataFrame
Columns: [Categories, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, (R) 2009, (R) 2010, (R) 2011, (R) 2012, (R) 2013, (R) 2014, (R) 2015, (R) 2016, 2017, 2018, (R) 2019, (R) 2020]
Index: []

[0 rows x 42 columns]
                         Categories       1980       1981       1982  \
0  TOTAL U.S. ton-miles of freight   4,207,610  4,230,548  4,122,111
1                              Aira      4,173      4,408      4,247
2                             Truck  1,301,607  1,367,507  1,412,612
3                         Railroadb    932,000    924,000    810,000
4        Total water transportation  1,016,085  1,023,637    964,897

        1983       1984       1985       1986       1987       1988  ...  \
0  4,013,105  4,317,065  4,342,117  4,360,857  4,409,101  4,414,966  ...
1      4,779      5,175      4,855      6,230      7,583      8,169  ...
2  1,256,800  1,511,730  1,562,864  1,559,819  1,507,950  1,419,920  ...
3    841,000    900,091    876,209    891,235    951,940  1,025,683  ...
4    989,162    966,478    964,911    944,911    968,404    970,685  ...

    (R) 2011   (R) 2012   (R) 2013   (R) 2014   (R) 2015   (R) 2016  \
0  4,909,454  4,895,313  5,041,501  5,180,010  5,110,527  5,007,566
1     12,134     12,367     12,428     12,845     13,190     13,758
2  1,650,557  1,838,648  2,004,478  1,956,831  1,985,960  2,060,878
3  1,729,256  1,712,567  1,740,687  1,851,229  1,738,283  1,585,440
4    603,983    577,114    564,648    608,918    589,632    580,954

        2017       2018   (R) 2019   (R) 2020
0  5,427,868  5,511,658  5,420,408  5,250,835
1     15,140     15,969     16,413     18,746
2  2,366,049  2,341,705  2,367,988  2,426,766
3  1,674,784  1,729,638  1,614,498  1,439,814
4    600,910    608,756    565,153    539,470

[5 rows x 42 columns]

Some of the datasets require transformation before proceeding to remove all NaN values without losing valuable data. From now on I will be inspecting and cleaning all the datasets one by one. Some of the tables require converting from wide to long format. I will rename columns containing year among the datasets to one consistent name.I will give descriptive names to the remaining columns.

In [71]:
df_list[0]

# dataset contains data about average freight revenue per tonemile over the years

,Category,1960,1965,1970,1975,1980,1985,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"Air carrier, domestica",22.80,20.46,21.91,28.22,46.31,48.77,59.71,60.95,63.07,...,133.51,135.47,135.85,124.04,119.90,125.15,137.49,137.67,122.98,97.86
1,Truckb,NaN,NaN,NaN,NaN,NaN,5.34,7.64,7.54,7.75,...,16.72,15.99,17.68,17.75,17.34,16.10,17.55,(R) 17.84,17.88,NaN
2,Class I rail,1.40,1.27,1.43,2.04,2.87,3.04,2.66,2.59,2.58,...,3.95,4.05,4.05,3.97,3.99,4.02,4.23,4.42,4.40,NaN
3,"Water Transportation, domestic",NaN,NaN,NaN,NaN,NaN,NaN,1.42,1.41,1.39,...,3.18,3.36,3.37,3.25,3.00,2.74,2.88,3.22,2.94,NaN
4,Oil pipeline,NaN,NaN,NaN,NaN,NaN,NaN,1.22,1.18,1.21,...,1.63,1.92,2.26,2.49,2.66,2.88,3.11,3.41,3.44,NaN
5,Producer Price Index (1990 = 100)c,28,29,33,49,74,88,100.00,102.00,103.00,...,163.00,165.00,168.00,163.00,161.00,166.00,171.00,173,170.00,185

In [72]:
avg_fr_rev_per_tone_mile = pd.melt(df_list[0],id_vars=['Category'],var_name='Year',value_name='Avg_freight_rev_tonemile')
avg_fr_rev_per_tone_mile.dropna(inplace=True)

avg_fr_rev_per_tone_mile = avg_fr_rev_per_tone_mile[avg_fr_rev_per_tone_mile.Category == 'Truckb']
avg_fr_rev_per_tone_mile.drop(columns=['Category'],inplace=True)
replace_regex(avg_fr_rev_per_tone_mile,r'[(R)]','Avg_freight_rev_tonemile','',float)

# First dataset transformation

#Below list will contain transformed datasets. They will be converted to csv files after transformation.

df_list_to_csv = []
df_list_to_csv.append(avg_fr_rev_per_tone_mile)

In [73]:
avg_fr_rev_per_tone_mile.head()

    Year  Avg_freight_rev_tonemile
31  1985                      5.34
37  1990                      7.64
43  1991                      7.54
49  1992                      7.75
55  1993                      8.48

I have decided to transform the table from wide to long format for better visualization. I have deleted the rows 
with values not providing information about truck transport. I have deleted all the rows where the 'Amount' was missing. I will perform similar transformation for the remaining datasets that require it.

In [74]:
avg_salary_transport = df_list[1]

avg_salary_transport.rename(columns={'(R) 2017':2017,'(R) 2018': 2018,'(R) 2019': 2019,'(R) 2020': 2020},inplace=True)
avg_salary_transport = pd.melt(avg_salary_transport, id_vars = ['Category'], var_name = 'Year', value_name = 'Avg_salary')
avg_salary_transport = avg_salary_transport[(avg_salary_transport.Category == 'All industries')|(avg_salary_transport.Category == 'Transportation and warehousing, total')|(avg_salary_transport.Category == 'Truck')]
replace_regex(avg_salary_transport,',','Avg_salary','',float)
avg_salary_transport.Year = avg_salary_transport.Year.astype(int)
df_list_to_csv.append(avg_salary_transport)
avg_salary_transport.head()

                                 Category  Year  Avg_salary
0                          All industries  1998     35509.0
1   Transportation and warehousing, total  1998     35965.0
5                                   Truck  1998     33686.0
10                         All industries  1999     37050.0
11  Transportation and warehousing, total  1999     37426.0

Above dataset contains information about average salary in different transport segments. I have decided to keep the data reflecting all industries, transport industry overall and trucking. It might be good idea to compare the trend between trucking and industry average over the years. Table was converted from wide to long format.

In [75]:
diesel_price = df_list[2]
diesel_price.head()

         DATE  GASDESW
0  1994-03-21    1.106
1  1994-03-28    1.107
2  1994-04-04    1.109
3  1994-04-11    1.108
4  1994-04-18    1.105

In [76]:

diesel_price.rename(columns={'GASDESW': 'Diesel_price_per_gallon'},inplace=True)
# Below function is made specifically for the datasets downloaded from fred.stlouisfed.ord due to their format
# The function converts the Date column to year value only and leaves only the first observation for each year.
def fred_dataset_cleaning(df):
    dateprice = []
    for i in df['DATE']:
        a = str(i)[:4]
        dateprice.append(a)
    df['DATE'] = dateprice
    df.drop_duplicates(subset=['DATE'],inplace=True)
    df.rename(columns={'DATE':'Year'},inplace=True)
fred_dataset_cleaning(diesel_price)
df_list_to_csv.append(diesel_price)
diesel_price

      Year  Diesel_price_per_gallon
0     1994                    1.106
41    1995                    1.104
93    1996                    1.148
146   1997                    1.291
198   1998                    1.147
250   1999                    0.965
302   2000                    1.309
354   2001                    1.522
407   2002                    1.168
459   2003                    1.501
511   2004                    1.503
563   2005                    1.957
615   2006                    2.442
667   2007                    2.580
720   2008                    3.376
772   2009                    2.291
824   2010                    2.797
876   2011                    3.331
928   2012                    3.783
981   2013                    3.911
1033  2014                    3.910
1085  2015                    3.137
1137  2016                    2.211
1189  2017                    2.586
1241  2018                    2.973
1294  2019                    3.013
1346  2020                    3.079
1398  2021                    2.640
1450  2022                    3.613

Above dataset contains diesel price over the years. I will keep only year-to-year data. The first observation for each year remains in the table.

In [77]:
ppi_heavy_truck_man = df_list[3]
fred_dataset_cleaning(ppi_heavy_truck_man)
ppi_heavy_truck_man.rename(columns={'PCU336120336120P':'PPI_heavy_truck_manufacturing'},inplace=True)
df_list_to_csv.append(ppi_heavy_truck_man)
ppi_heavy_truck_man

     Year  PPI_heavy_truck_manufacturing
0    2003                        100.000
1    2004                        101.300
13   2005                        104.400
25   2006                        108.500
37   2007                        113.700
49   2008                        118.400
61   2009                        123.700
73   2010                        126.700
85   2011                        131.100
97   2012                        134.300
109  2013                        137.000
121  2014                        139.700
133  2015                        141.700
145  2016                        145.500
157  2017                        149.200
169  2018                        149.000
181  2019                        152.100
193  2020                        153.300
205  2021                        154.500
217  2022                        156.323

This dataset contains Producer price index for heavy truck manufacturing. I will keep only year-to-year data. The first observation for each year remains in the table.

In [78]:
ppi_truck_transportation = df_list[4]
ppi_truck_transportation.rename(columns={'PCU484484':'PPI_truck_transportation'},inplace=True)
fred_dataset_cleaning(ppi_truck_transportation)
df_list_to_csv.append(ppi_truck_transportation)
ppi_truck_transportation

     Year  PPI_truck_transportation
0    2003                   100.000
1    2004                   100.400
13   2005                   106.000
25   2006                   111.300
37   2007                   113.800
49   2008                   119.000
61   2009                   118.500
73   2010                   117.300
85   2011                   122.200
97   2012                   128.700
109  2013                   131.800
121  2014                   133.500
133  2015                   133.000
145  2016                   131.800
157  2017                   132.500
169  2018                   138.700
181  2019                   147.100
193  2020                   146.900
205  2021                   151.800
217  2022                   185.887

Above dataset contains Producer price index for truck transportation. I will keep only year-to-year data. The first observation for each year remains in the table.

In [79]:
total_operating_revenues = df_list[5]
ttl_operating_rev = pd.melt(total_operating_revenues, id_vars=['Category'],var_name='Year',value_name='Operating_revenues')
ttl_operating_rev.dropna(subset=['Operating_revenues'],inplace=True)
replace_regex(ttl_operating_rev,r'\D+','Operating_revenues','',float)
ttl_operating_rev = ttl_operating_rev[ttl_operating_rev['Category'] == 'Truckinga']
ttl_operating_rev.drop(columns=['Category'],inplace=True)
ttl_operating_rev.Year = ttl_operating_rev.Year.astype(int)
df_list_to_csv.append(ttl_operating_rev)
ttl_operating_rev.head()

     Year  Operating_revenues
79   1990            127314.0
92   1991            126772.0
105  1992            135437.0
118  1993            142547.0
131  1994            155713.0

Above dataset contains information about total operating revenues over the years. I have decided to keep only the values for trucking. Table was converted from wide to long format.

In [80]:
df_list[6]

         DATE  VAPGDPT
0    1/1/2005      2.8
1    4/1/2005      2.9
2    7/1/2005      2.9
3   10/1/2005      3.0
4    1/1/2006      3.0
..        ...      ...
65   4/1/2021      2.9
66   7/1/2021      3.0
67  10/1/2021      3.1
68   1/1/2022      3.1
69   4/1/2022      3.2

[70 rows x 2 columns]

In [81]:
transport_warehousing_percent_of_gdp = df_list[6]

transport_warehousing_percent_of_gdp.rename(columns={'VAPGDPT':'Transport_warehousing_p_of_gdp'},inplace=True)
def fred_date_reverse(df):
    date_list = []
    for i in transport_warehousing_percent_of_gdp['DATE']:
        a = str(i)[-4:]
        date_list.append(a)
    df['DATE'] = date_list
    df.drop_duplicates(subset=['DATE'],inplace=True)
    df.rename(columns={'DATE':'Year'},inplace=True)
# Function transforms date column into year and keeps only one observation per year, similar to fred_dataset_cleaning but with reversed year position in DATE column
    
fred_date_reverse(transport_warehousing_percent_of_gdp)
df_list_to_csv.append(transport_warehousing_percent_of_gdp)
transport_warehousing_percent_of_gdp.head()

    Year  Transport_warehousing_p_of_gdp
0   2005                             2.8
4   2006                             3.0
8   2007                             2.9
12  2008                             2.8
16  2009                             2.8

This table contains transport and warehousing as percent of total gdp over the years. I will keep only year-to-year data. I keep only the first observation for each year.

In [82]:
truck_registration = df_list[7]
truck_reg = pd.melt(truck_registration,id_vars=['Category'],var_name='Year',value_name='Number_registered')
truck_reg.dropna(inplace=True)
truck_reg = truck_reg[truck_reg.Category != 'Farm trucks']
df_list_to_csv.append(truck_reg)
truck_reg.head()

          Category  Year Number_registered
0     Total trucks  1995          64778472
1          Pickups  1995          28200171
2             Vans  1995          11557118
3  Sport utilities  1995           7440984
4     Other lighta  1995           9590256

Truck_reg dataset was converted from wide to long format and contains information about truck registration over the years. Some of the Na values were also dropped.

In [83]:
gdp_for_hire_transportation = df_list[8]
gdp_for_hire_transport = pd.melt(gdp_for_hire_transportation,id_vars=['Category'],var_name='Year',value_name='Gdp')
df_list_to_csv.append(gdp_for_hire_transport)
gdp_for_hire_transport.isna().any().sum() # It is 0
replace_regex(gdp_for_hire_transport,r',','Gdp','',float)

gdp_for_hire_transport

                                        Category  Year      Gdp
0                                 TOTAL U.S. GDP  1980  2788.10
1    For-hire transportation services GDP, total  1980   102.60
2                             Air transportation  1980    13.10
3                            Rail transportation  1980    20.20
4                           Water transportation  1980     3.50
..                                           ...   ...      ...
805                         Truck transportation  2021    28.59
806  Transit and ground passenger transportation  2021     6.61
807                      Pipeline transportation  2021     6.64
808  Other transportation and support activities  2021    26.13
809                      Warehousing and storage  2021    14.00

[810 rows x 3 columns]

The data frame gdp_for_hire_transport provides information about gdp of different transportation services. The table was converted from wide to long format. The Gdp column has been transformed to float.

In [84]:
hazardous_materials_shipments = df_list[9]
hazardous_materials_shipments.drop(columns=['Unnamed: 2','Unnamed: 4','Unnamed: 6'],inplace=True)
hazardous_materials_shipments.dropna(inplace=True)

for col in hazardous_materials_shipments:
    if col != 'Category':
        replace_regex(hazardous_materials_shipments,r',',col,'',float)
hazardous_materials_shipments= hazardous_materials_shipments[(hazardous_materials_shipments['Category'] != 'For-hire')&(hazardous_materials_shipments['Category'] != 'Privateb')]
df_list_to_csv.append(hazardous_materials_shipments)
hazardous_materials_shipments.head()

              Category   Value    Tons  Ton-miles  Average miles per shipment
1      TOTAL all modes  1680.2  2968.0      382.5                       189.0
2  Single modes, total  1612.1  2889.5      307.2                        72.0
3               Trucka  1091.3  1814.8      126.8                        63.0
6                 Rail    39.0    90.4       61.7                       640.0
7                Water   137.1   304.2       60.9                        72.0

The dataset hazardous_materials_shipments contains information about hazardous materials shipments distribution over different modes of transport.
The numeric values were converted to float. <br> <br>
Despite the fact that this is the only dataset not containing historical data, I have decided to include it in my analysis.

In [85]:
df_list[10]
ton_miles_freight = pd.melt(df_list[10],id_vars=['Categories'],var_name='Year',value_name='Ton_miles')
for col in ton_miles_freight:
    if col != 'Categories':
        replace_regex(ton_miles_freight,r'\D+',col,'',int)
ton_miles_freight1 = ton_miles_freight[(ton_miles_freight.Categories == 'Truck') | (ton_miles_freight.Categories == 'TOTAL U.S. ton-miles of freight ')]
df_list_to_csv.append(ton_miles_freight1)
ton_miles_freight1.head()

                          Categories  Year  Ton_miles
0   TOTAL U.S. ton-miles of freight   1980    4207610
2                              Truck  1980    1301607
12  TOTAL U.S. ton-miles of freight   1981    4230548
14                             Truck  1981    1367507
24  TOTAL U.S. ton-miles of freight   1982    4122111

### Data Validation

Last of the datasets contains information about ton-miles of freight. I have decided to keep only the data about trucking and total transportation.
The dataset was converted from wide to long format. Numeric values were converted to int.

Lastly I will limit the measured data to the desired period (2006-2019) in every table.

In [86]:
new_df_list = []
def cut_years(df):
    df1 = df[(df['Year'].astype(int) > 2005)&(df['Year'].astype(int) < 2020)]
    return df1
for table in df_list_to_csv:
    if 'Year' in table.columns:
        new_table = cut_years(table)
        new_df_list.append(new_table)
    else:
        new_df_list.append(table)
# Function cuts the years in the table and returns dataframe after cut
# loop applies the function to all the data frames and puts new data frames in the list as well as the data frames for which the cutting was not necessary.
    
new_df_list

[     Year  Avg_freight_rev_tonemile
 133  2006                     13.40
 139  2007                     13.22
 145  2008                     15.96
 151  2009                     12.03
 157  2010                     14.30
 163  2011                     17.51
 169  2012                     16.72
 175  2013                     15.99
 181  2014                     17.68
 187  2015                     17.75
 193  2016                     17.34
 199  2017                     16.10
 205  2018                     17.55
 211  2019                     17.84,
                                   Category  Year  Avg_salary
 80                          All industries  2006     47731.0
 81   Transportation and warehousing, total  2006     45491.0
 85                                   Truck  2006     43069.0
 90                          All industries  2007     49895.0
 91   Transportation and warehousing, total  2007     47413.0
 95                                   Truck  2007     44305.0
 100                         All industries  2008     51398.0
 101  Transportation and warehousing, total  2008     48182.0
 105                                  Truck  2008     45047.0
 110                         All industries  2009     51793.0
 111  Transportation and warehousing, total  2009     48387.0
 115                                  Truck  2009     44423.0
 120                         All industries  2010     53239.0
 121  Transportation and warehousing, total  2010     49744.0
 125                                  Truck  2010     45537.0
 130                         All industries  2011     54699.0
 131  Transportation and warehousing, total  2011     51305.0
 135                                  Truck  2011     46869.0
 140                         All industries  2012     56089.0
 141  Transportation and warehousing, total  2012     52427.0
 145                                  Truck  2012     47810.0
 150                         All industries  2013     56667.0
 151  Transportation and warehousing, total  2013     53364.0
 155                                  Truck  2013     48831.0
 160                         All industries  2014     58350.0
 161  Transportation and warehousing, total  2014     54817.0
 165                                  Truck  2014     50679.0
 170                         All industries  2015     59993.0
 171  Transportation and warehousing, total  2015     55941.0
 175                                  Truck  2015     52057.0
 180                         All industries  2016     60826.0
 181  Transportation and warehousing, total  2016     56593.0
 185                                  Truck  2016     52676.0
 190                         All industries  2017     62726.0
 191  Transportation and warehousing, total  2017     57808.0
 195                                  Truck  2017     54527.0
 200                         All industries  2018     64694.0
 201  Transportation and warehousing, total  2018     59628.0
 205                                  Truck  2018     57218.0
 210                         All industries  2019     66712.0
 211  Transportation and warehousing, total  2019     60654.0
 215                                  Truck  2019     58314.0,
       Year  Diesel_price_per_gallon
 615   2006                    2.442
 667   2007                    2.580
 720   2008                    3.376
 772   2009                    2.291
 824   2010                    2.797
 876   2011                    3.331
 928   2012                    3.783
 981   2013                    3.911
 1033  2014                    3.910
 1085  2015                    3.137
 1137  2016                    2.211
 1189  2017                    2.586
 1241  2018                    2.973
 1294  2019                    3.013,
      Year  PPI_heavy_truck_manufacturing
 25   2006                          108.5
 37   2007                          113.7
 49   2008                          118.4
 61   2009                          123.7
 73   2010                          126.7
 85   2011                          131.1
 97   2012                          134.3
 109  2013                          137.0
 121  2014                          139.7
 133  2015                          141.7
 145  2016                          145.5
 157  2017                          149.2
 169  2018                          149.0
 181  2019                          152.1,
      Year  PPI_truck_transportation
 25   2006                     111.3
 37   2007                     113.8
 49   2008                     119.0
 61   2009                     118.5
 73   2010                     117.3
 85   2011                     122.2
 97   2012                     128.7
 109  2013                     131.8
 121  2014                     133.5
 133  2015                     133.0
 145  2016                     131.8
 157  2017                     132.5
 169  2018                     138.7
 181  2019                     147.1,
      Year  Operating_revenues
 287  2006            286211.0
 300  2007            295710.0
 313  2008            299368.0
 326  2009            247178.0
 339  2010            261818.0
 352  2011            289043.0
 365  2012            307365.0
 378  2013            320439.0
 391  2014            345965.0
 404  2015            352576.0
 417  2016            357314.0
 430  2017            380940.0
 443  2018            410925.0
 456  2019            422481.0,
     Year  Transport_warehousing_p_of_gdp
 4   2006                             3.0
 8   2007                             2.9
 12  2008                             2.8
 16  2009                             2.8
 20  2010                             2.8
 24  2011                             2.9
 28  2012                             2.9
 32  2013                             2.9
 36  2014                             2.9
 40  2015                             3.1
 44  2016                             3.1
 48  2017                             3.1
 52  2018                             3.1
 56  2019                             3.2,
                 Category  Year Number_registered
 88          Total trucks  2006         107943782
 89               Pickups  2006          39027657
 90                  Vans  2006          18710264
 91       Sport utilities  2006          35769584
 92          Other lighta  2006           1166888
 ..                   ...   ...               ...
 194                 Vans  2019          15075377
 195      Sport utilities  2019          80511102
 196         Other lighta  2019             75515
 198       Truck tractors  2019           2758682
 199  Other medium/heavyb  2019          11610658

 [98 rows x 3 columns],
                                         Category  Year       Gdp
 378                               TOTAL U.S. GDP  2006  13815.60
 379  For-hire transportation services GDP, total  2006    410.30
 380                           Air transportation  2006     68.00
 381                          Rail transportation  2006     32.10
 382                         Water transportation  2006     12.70
 ..                                           ...   ...       ...
 751                         Truck transportation  2019     25.23
 752  Transit and ground passenger transportation  2019      7.86
 753                      Pipeline transportation  2019      6.31
 754  Other transportation and support activities  2019     19.88
 755                      Warehousing and storage  2019     11.09

 [378 rows x 3 columns],
                                   Category   Value    Tons  Ton-miles  \
 1                          TOTAL all modes  1680.2  2968.0      382.5
 2                      Single modes, total  1612.1  2889.5      307.2
 3                                   Trucka  1091.3  1814.8      126.8
 6                                     Rail    39.0    90.4       61.7
 7                                    Water   137.1   304.2       60.9
 8                                      Air     4.8     0.3        0.2
 10                   Multiple modes, total    68.1    78.4       75.3
 11  Parcel, U.S. Postal Service or Courier    13.5     0.3        0.2
 12                                   Other    54.6    78.1       75.0

     Average miles per shipment
 1                        189.0
 2                         72.0
 3                         63.0
 6                        640.0
 7                         72.0
 8                       1333.0
 10                       947.0
 11                       949.0
 12                         4.0  ,
                            Categories  Year  Ton_miles
 312  TOTAL U.S. ton-miles of freight   2006    5401380
 314                             Truck  2006    2189999
 324  TOTAL U.S. ton-miles of freight   2007    5430874
 326                             Truck  2007    2236205
 336  TOTAL U.S. ton-miles of freight   2008    5168527
 338                             Truck  2008    1875725
 348  TOTAL U.S. ton-miles of freight   2009    5023111
 350                             Truck  2009    2054264
 360  TOTAL U.S. ton-miles of freight   2010    4992564
 362                             Truck  2010    1830761
 372  TOTAL U.S. ton-miles of freight   2011    4909454
 374                             Truck  2011    1650557
 384  TOTAL U.S. ton-miles of freight   2012    4895313
 386                             Truck  2012    1838648
 396  TOTAL U.S. ton-miles of freight   2013    5041501
 398                             Truck  2013    2004478
 408  TOTAL U.S. ton-miles of freight   2014    5180010
 410                             Truck  2014    1956831
 420  TOTAL U.S. ton-miles of freight   2015    5110527
 422                             Truck  2015    1985960
 432  TOTAL U.S. ton-miles of freight   2016    5007566
 434                             Truck  2016    2060878
 444  TOTAL U.S. ton-miles of freight   2017    5427868
 446                             Truck  2017    2366049
 456  TOTAL U.S. ton-miles of freight   2018    5511658
 458                             Truck  2018    2341705
 468  TOTAL U.S. ton-miles of freight   2019    5420408
 470                             Truck  2019    2367988]

As we can see the datasets are cleaned and ready to be exported for further analysis.

### Exporting the tables

In [87]:
file_names = ['avg_freight_revenue_per_tonemile','avg_salary_transportation','diesel_price','ppi_hd_truck_manufacturing',
             'ppi_truck_transportation','total_operating_revenues','transport_warehousing_percent_of_gdp','truck_registration',
             'gdp_for_hire_transportation','hazardous_materials_shipments','ton_miles_freight']
# avg_freight_revenue_per_tonemile = dataframes[0] 
# avg_salary_transportation = dataframes[1]
# diesel_price = dataframes[2]
# ppi_hd_truck_manufacturing = dataframes[3]
# ppi_truck_transportation = dataframes[4]
# total_operating_revenues = dataframes[5]
# transport_warehousing_percent_of_gdp = dataframes[6]
# truck_registration = dataframes[7]
# gdp_for_hire_transportation = dataframes[8]
# hazardous_materials_shipments = dataframes[9]
# ton_miles_freight = dataframes[10]
def export_table_csv(table_list, filenames):
    
    for i in range(len(table_list)):
        table_list[i].to_csv('.\\csv_cleaned\\' + filenames[i] + '.csv',index=False)
export_table_csv(new_df_list,file_names)

### Summary

All the above dataset contain relevant information. I have decided to keep year-to-year data only.
Datasets will be loaded into different notebook to perform eda. I have saved the datasets as a csv files in order to create a dashboard in Power BI.